[2015-09-08 19:50] Ombridride opened #1 "Dig animation"
Need to add the dig animation of MFF (more frame, more beautiful and we will not have this "freeze"/lag sensation)

[2015-09-08 19:51] Ombridride opened #2 "increase the hudbar size"
Need to increase the hudbar to 16 slots for everybody by default, like for our HG / MFF server

[2015-09-08 19:54] Ombridride opened #3 "Add the irc / irc_commands mod"
need to add the mod irc and irc_commands (copy from the HG repository)

[2015-09-08 19:56] Ombridride opened #4 "finished quests need sounds"
Need to add a sound when you finish a quests, and an another sound when you finish a level !

[2015-09-08 20:00] Ombridride opened #5 "Website update"
- [x] Add a banner for announce the SkyBlock server openning !

- Maybe do an article about the SkyBlock game !

[2015-09-08 20:01] Lymkwi commented on #1
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/61c42bb6432a3286fe1ce0dfb8934a8fed7d3c59

[2015-09-08 20:01] #1 closed

[2015-09-08 20:04] Ombridride opened #6 "Add shutdown mod"
Add the shutdown mod with the same warning as HG server (because this is exactly the same reboot hour)

[2015-09-08 20:11] Ombridride opened #7 "Area mod"
We need to add an area mod, wich one ? the MFF one ? tweaked for how many areas ?

Is it already in the engine ?

Or maybe our island is already protected ?

[2015-09-08 20:15] Lymkwi commented on #2
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/3aa30caae0ba701b6ee2fbd233c0554b41202211

[2015-09-08 20:15] #2 closed

[2015-09-08 20:17] Lymkwi commented on #3
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/5d3989f9eff7c9faa19ab5a710f597af32103be8

[2015-09-08 20:17] #3 closed

[2015-09-08 20:18] Lymkwi commented on #6
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/50af50d3dc395f4142642de074567a7df3d44e9e

[2015-09-08 20:18] #6 closed

[2015-09-08 20:19] Lymkwi commented on #7
[Protector](https://github.com/MinetestForFun/server-minetestforfun-skyblock/tree/master/mods/protector) is already there (and there's a bucket-grief prevention system).

[2015-09-08 20:56] Ombridride opened #8 "Sun and Moon"
Add Sun and Moon textures from MFF game :)

[2015-09-08 20:59] BetterToAutomateTheWorld commented on #7
Indeed, I experimented it !

The protector node :
![node](http://i.imgur.com/1ZhU139.png)

Its menu (well done !) :
![menu](http://i.imgur.com/fCSnW0L.png)

[2015-09-08 21:00] #7 closed

[2015-09-09 09:44] Lymkwi commented on #8
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/bf0c38379199706d2ab59273daf750205672a3af

[2015-09-09 09:44] #8 closed

[2015-09-09 09:52] LeMagnesium opened #9 "[craft guide] Prev and Next buttons are overriding each other"
There is the problem :

![Craft Guide](https://lut.im/EA1WBQUU/kT9g2b8I)

[2015-09-09 12:55] Ombridride opened #10 "Add worldedit mod"
We need to add worldedit mod

[2015-09-09 12:56] Ombridride opened #11 "Add the whoison mod"
from the MFF repository, add the whoison mod (needed for monitor the player online)

[2015-09-09 12:58] Ombridride opened #12 "Signs"
maybe add the sign_lib mod ?

Maybe takes the default sign texture/inventory texture from the our MFF repository, the actual texture are very ugly (minetest 0.4.10 or older...)

[2015-09-09 12:58] Ombridride opened #13 "Add the mapfix mod"
We need to add the mapfix mod

[2015-09-09 13:01] Ombridride opened #14 "Add the builtin mod ?"
Maybe add the builtin mod ?

Click dropped items for take them is an horrible concept for me and i think it makes the gameplay easier... (maybe im not alone in this feel ?)

[2015-09-09 13:02] Ombridride opened #15 "Add the gauges mod ?"
Maybe we need to add the gauges mod ? Is PVP possible in skyblock ?

[2015-09-09 13:03] Ombridride opened #16 "Add the [carbone_torches] mod"
Need to add the [carbone_torches] mod

Better model, textures, ligh area...

[2015-09-09 13:06] #10 closed

[2015-09-09 13:09] #11 closed

[2015-09-09 13:12] #16 closed

[2015-09-09 13:16] #14 closed

[2015-09-09 13:18] Lymkwi commented on #13
It's a very useful mod.

[2015-09-09 13:18] #13 closed

[2015-09-09 13:19] Lymkwi commented on #12
If we add sign_lib I need to update the game. I'll do it later.

[2015-09-09 13:22] BetterToAutomateTheWorld commented on #12
We can add the sign_lib in the same way we added it to the Hunger_gmes server, just the mod without the modpack, where is the problem ?

[2015-09-09 13:24] Lymkwi commented on #12
https://github.com/cornernote/minetest-skyblock/issues/44

[2015-09-09 13:25] BetterToAutomateTheWorld commented on #12
Oww.. Ok, need to fixed this issue before add this mod :)

Anyway, we can changed the default signs textures until this issue is fixed...

[2015-09-09 16:18] BetterToAutomateTheWorld commented on #12
You forgot the default signs textures tweaks

[2015-09-09 17:41] farfadet46 opened #17 "can't take item on ground"
can't take item on ground

[2015-09-09 18:28] Ombridride opened #18 "Add [random_messages] mod"
We need to add the [random_messages] mod and to fill it with our usual inforamtions/tips (visit our website, etc...) AND we need to fill it with some useful tips/reminder specificly linked to the SkyBlock subgame

(for example : explain to players if they fall they die, and if they die, they reset there level, it avoid many questions about possible bugs)

(example 2, this kind of information can a

[2015-09-09 18:29] BetterToAutomateTheWorld commented on #17
Fixed after reboot & updates.

[2015-09-09 18:29] #17 closed

[2015-09-09 18:30] BetterToAutomateTheWorld commented on #12
You forgot the default signs textures tweaks

[2015-09-09 19:06] #12 closed

[2015-09-09 19:12] Lymkwi commented on #15
PvP is possible, but not important at all.

[2015-09-09 19:20] ObaniGemini commented on #15
Shouldn't we disable PvP ? There's already a grieffing possibility, I think we shall remove the killing possibility. If some people want to fight, they can go on MFF, MFF-HG, or every other server that allows PvP. Skyblock is a building game, not a fighting game.

[2015-09-10 15:22] gravgun opened #19 "Unable to break signs"
Probably from 696135ea9a042e3fde031e17f6b38d5ba13ff226 onwards. Signs cannot be broken, i.e. come back after breaking them.

[2015-09-10 15:23] gravgun opened #20 ""Place 20 Wood Fences" quest can't be completed"
Somehow the quest system doesn't count `default:fence_wood` placement, making players unable to complete the "Place 20 Wood Fences" quest and to get to level 3.

[2015-09-10 15:27] Lymkwi commented on #20
It happens with every quest. Counters tend to be reset/reactivated. I'll investigate.

[2015-09-10 15:28] Lymkwi commented on #19
Already fixed. https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/cc396844a91aa2bbb26d4e47071249cfcd071404
EDIT: And https://github.com/cornernote/minetest-skyblock/pull/55

[2015-09-10 15:28] #19 closed

[2015-09-10 16:27] Lymkwi commented on #20
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/a9a7dad078b7f9c992876a7cdbd50c91a684315b

[2015-09-10 16:27] #20 closed

[2015-09-10 16:58] Lymkwi commented on #18
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/da453f26416235b8df104a6af2ec0f64c0298b5a

Modify as you wish.

[2015-09-10 18:01] BetterToAutomateTheWorld commented on #18
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/68cdc957f8444709789e8abeabd30f0f6ea6eae4
Great, need to fill it now :p

[2015-09-11 18:33] #9 closed

[2015-09-11 18:34] Lymkwi commented on #9
![Solved!](https://lut.im/tS0q6bQh/DYOxNaIX)

[2015-09-11 21:59] BetterToAutomateTheWorld commented on #15
I agreed with @ObaniGemini i can see in-game many players kill each other, that's not the goal of the SkyBlock subgame.

I can add, we need to removed the sword craft / code / textures because they will be useless.

You can see the only 3 iteration of the "sword" word in the entire subgame here :
![3_only_sword_word_in_the_subgame](http://i.imgur.com/unydxvE.png)

So, we need to disable the punch_

[2015-09-11 22:01] Ombridride opened #21 "Add MFF tools textures"
Actually all of the weapons have the same texture (size/details) and there are in 16px. :/
Only the color change, that's the default minetest_game textures, so... that's not very beautiful... (understand : ugly)

We need to add the MFF tools textures to the subgame.

[2015-09-12 11:26] Lymkwi commented on #15
If we disable punch_players, then we don't need to remove code, that would be better for merges.
I will add the peace_areas mod.

[2015-09-12 12:31] ObaniGemini commented on #15
But it will still light and simplify subgame if we remove those parts :) .

[2015-09-12 13:49] BetterToAutomateTheWorld commented on #15
I think we don't need _peace area_ code or any mod, we just need a line in the minetest.conf, we need to check the minetest.conf.example  ;)

[2015-09-12 16:58] Lymkwi commented on #15
There is a line called `disable_pvp` but it's only a flag for servers.minetest.net. As far as I know, as long as `enable_damages` is true, player punches will damage each other.

[2015-09-12 17:16] Lymkwi commented on #15
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/12a3b13212e0b51a3ac243787394b660663a3ceb
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/9822e0b72c366cce29823f793dc5cfb894ca7f62

[2015-09-12 20:04] BetterToAutomateTheWorld commented on #15
Great, we can closed this issue now, thank you !

[2015-09-12 20:04] #15 closed

[2015-09-12 21:13] Ombridride opened #22 "hud textures"
We need to add the hud textures of the MFF & MFF-HG server, the actual texture is ugly with a 16slots hudbar.

[2015-09-12 21:14] BetterToAutomateTheWorld commented on #21
I think it's done with this commit, can you confirm @LeMagnesium ? https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/86ce405f9a003dd54492150025c92fa44b0693de

I closed the issue.

[2015-09-12 21:15] BetterToAutomateTheWorld commented on #21
Reopened the issue, need to removed the swords textures, there are useless, we removed the swords on the Skyblock server

[2015-09-13 11:28] Lymkwi commented on #21
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/85908dbd33aedcd37da78501e1d5a234942c1e68

[2015-09-13 11:28] #21 closed

[2015-09-13 11:53] Ombridride opened #23 "Forum Presentation Post"
I need to write a Forum presentation with the same model as the HUNGER GAMES presentation, and add a link from the homepage of the website of this presentation

(PS : need the skyblock banner first..)

[2015-09-13 11:54] BetterToAutomateTheWorld commented on #21
Thank you

[2015-09-14 02:43] fabienwang opened #24 "Level 3 place 4 steelblocks"
I'm at level 3, place 4 steelblocks
Problem is no previous quest rewards us with steel ingot or i'm dumb ?!

[2015-09-14 04:03] ghost commented on #24
Désolé, j'ai trouvé après avoir recommancé les quètes. peut-être dans les astuces on peut mettre "n'hésitez pas à vous faire un livre et y écrire vos recettes à ne pas oublier..."

[2015-09-14 04:03] #24 closed

[2015-09-14 08:32] BetterToAutomateTheWorld commented on #24
Tu obtiens des copper ore level 2, c'est le premier minerai que tu obtiens enfaite.

Suite à cela tu craft un scau avec des steel ingot (cooper ore fondu = steel ingot)

Donc pour faire le steel block, tu as besoin de copper ore, les fondres, en faire des steel ingot, et mettre 9 steel ingot dans la craft grid ;)

[2015-09-14 09:57] farfadet46 commented on #24
après j'ai remarqué qu'on pouvais n'en faire qu'un seul, le poser/casser 4 fois en fait c'est volontaire de compter "que la pose" ?
PS: c'est valable pour toutes les quettes en fait non ?

[2015-09-14 11:05] BetterToAutomateTheWorld commented on #24
@farfadet46 Oui c'est normal, et c'est mieux ainsi pour t'éviter de te tuer en boucle pour récupérer de la Dirt car tu n'en a pas assez par exemple

[2015-09-14 11:09] BetterToAutomateTheWorld commented on #22
Assigned this issue to @fabienwang because in this way he can learn how the hud works :) (and it's a simple an fast issue)

[2015-09-14 11:14] BetterToAutomateTheWorld commented on #18
I added some random_messages.
Indeed, in-game players complained because they readed the same 3 random_messages all days...

You can correct the existing random_messages if you have a better translation, or you can add renadom_messages

Anyway, i closed this issue because the work is done. (mostly)

[2015-09-14 11:14] #18 closed

[2015-09-16 12:14] Lymkwi commented on #22
The important textures are `crosshair.png`, `hudbars_bar_background.png`, `hudbars_hotbar.png`, `hudbars_hotbar_selected.png` from [hudbars mod](https://github.com/MinetestForFun/server-minetestforfun/tree/master/mods/hudbars/textures). I will also have to copy some code from hudbars into default/init.lua to use these textures, so please, put them in default's textures folder, and replace 'hudbars

[2015-09-16 17:12] ObaniGemini commented on #4
- [x] finish quest (player)
- [x] finish level (player)
- [x] finish level (other players)

[2015-09-17 19:38] Lymkwi commented on #22
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/3f3de7073f1045242afe2c7024c1b0dd02c972b7

[2015-09-17 19:38] #22 closed

[2015-09-18 15:22] Ombridride commented on #4
Up, need to do it as soon as possible because we need to finish our skyblock "subgame_base" ;)

[2015-09-18 15:23] BetterToAutomateTheWorld commented on #5
Someone can do a Banner please ? my skills for this kind of things aren't very good :/

@Ataron @Cyberpangolin @ObaniGemini

[2015-09-19 17:30] Ataron opened #25 "Water Usebug"
Actually we can put/take water source in other's areas. I don't think it's a good thing.

[2015-09-19 17:55] BetterToAutomateTheWorld commented on #25
- [x] First, reduce the propagation of the water to 3 blocks => https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/cf9879d6f74364403b54550a1bf0d2269b93ac09
- [x] Second, slow down the water flowing refresh to 1 block each 5seconds => Ten is REALLY slow (5 is better) https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/2672a188c4bce3c5d9118cb23f35f2b10d2bc1b7

[2015-09-19 19:33] #25 closed

[2015-09-20 11:18] Ataron commented on #5
What do you think about that : https://lut.im/2rDGc4B25e/2PJbpK5J.png ?

[2015-09-20 11:47] ObaniGemini commented on #5
@Ataron : this is too confused. The letters are too much exposed. But the fonts aren't so bad.
Also I think you should take a screenshot from the server, with many buildings :)

[2015-09-20 14:45] BetterToAutomateTheWorld commented on #5
Really Great beginning !

Need a try without the left and right ''skyblock'' border,  also need a try with a different background,  like the actual server buildings

You can add some custom borders if you want.

The policy and text are perfect.

[2015-09-20 14:50] Ataron commented on #5
I had a size problem cause the last banner you wanted was in 1452*452, but my screen resolution was too small and the screenshot didn't do all the picture. I will try to do another one with others scrennshot.

[2015-09-20 14:54] BetterToAutomateTheWorld commented on #5
We need a 1450*450 resolution.

The last one you send to me,  I had to resize it.

[2015-09-21 20:37] Ataron commented on #5
I'll try to finish it tomorrow and Wednesday if not finished yet.

[2015-09-22 19:17] Ataron commented on #5
https://github.com/MinetestForFun/server-minetestforfun/commit/a46264797c01cbd847d77dc415c0789727fbb647

[2015-09-23 05:33] ObaniGemini commented on #5
I made this version with corrected things https://imgrush.com/Y2B-rk6jtr3s

[2015-09-23 10:08] BetterToAutomateTheWorld commented on #5
Ok, i will add this modified version

[2015-09-23 10:25] BetterToAutomateTheWorld commented on #5
Done.

The cache of the website will be reseted automatically and the new banner will appear in some days.

[2015-09-23 10:25] #5 closed

[2015-09-23 10:26] BetterToAutomateTheWorld commented on #23
Done.

https://forum.minetest.net/viewtopic.php?f=10&t=13294

[2015-09-23 10:26] #23 closed

[2015-09-24 13:05] Ombridride opened #26 "Bug with the papyrus growth"
Reported by @KasBrick :
[code]

Translation:
[code]

This error is like the tree/schematic problem we found on MFF earlier.

Need to check first, and fix if it's possible.

[2015-09-24 13:49] farfadet46 opened #27 "Warp crystal"
the warp Crystal protect all the area and we can't expand our area :(
like at the cyberpangolin's factory

[2015-09-24 14:49] BetterToAutomateTheWorld commented on #27
Peux tu reformuler en français s'il te plaît ? Je ne comprend pas bien :/

[2015-09-24 14:50] ObaniGemini commented on #27
I'm moving this issue to mff repository

[2015-09-24 14:54] ObaniGemini commented on #27
I'm moving this issue to mff repository

--> https://github.com/MinetestForFun/server-minetestforfun/issues/284

[2015-09-24 14:54] #27 closed

[2015-09-24 15:00] BetterToAutomateTheWorld commented on #27
Merci @ObaniGemini

[2015-09-24 16:16] Lymkwi commented on #26
Do a rollback_check on the position and tell me what was the last interaction on the block please.

[2015-09-24 18:00] KasBrick commented on #26
I can't help you more :/ EnB no tell me more about this.

[2015-09-24 20:39] Ombridride commented on #4
Up

[2015-09-24 20:42] BetterToAutomateTheWorld commented on #26
I don't know where is the EnB's house, it's complicated to find him with this hundreds of islands...
I think you can forget the rollback_check :p

[2015-09-24 20:48] Lymkwi commented on #26
Papyrus don't seem to destroy protector nodes. I have no idea how they disappeared.

[2015-09-24 22:06] KasBrick commented on #26
I found the island (16064.8, 5.0, 15586.9).

[2015-09-25 07:51] BetterToAutomateTheWorld commented on #26
Thank you @KasBrick

With this position, I will check this night the "rollback_check"

[2015-09-25 19:22] LeMagnesium opened #28 "Hoes can be used in protected areas"
We need to fix that and send a patch to upstream.

[2015-09-25 20:04] #28 closed

[2015-09-25 20:12] Lymkwi commented on #26
Papyrus do not destroy protection block, I'm positive about that. Find the reason for which the node disappeared and close this issue.

[2015-09-28 15:58] farfadet46 commented on #4
there is 2 sound maybe you can use it (made by me)

ding : https://up1.ca/#aj7IbK1lcNfYeJxSYwsmDw
and
dong : https://up1.ca/#PWFs3VifGpGeSOOGPBXI4g

PS: au début il s'agissait d'un seul ding dong.

[2015-09-30 12:13] ObaniGemini commented on #4
Can someone add commented lines with skyblock_finish_quest.ogg, skyblock_finish_level_player.ogg and skyblock_finish_other.ogg ?
It will allow me to close the issue when I'll push the sounds

[2015-09-30 14:21] Lymkwi commented on #4
We only need to sounds to uncomment those lines : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/4bb0869ada32fb8b94a039a97d913da2074673d9

[2015-09-30 18:57] BetterToAutomateTheWorld commented on #26
Surely not a bug but the lag, closed the issue.

[2015-09-30 18:57] #26 closed

[2015-10-01 18:02] Ombridride opened #29 "Stick stack per 1000"
Add the feature "Stick stack per 1000"

[2015-10-01 18:26] Ombridride opened #30 "Ajout de droit"
Ajouter une petite ligne pour donner ces droits a la connexion d'un joueur : home, spawn, fly, fast, shout

Obligatoire car j'avias oublié de mettre ces droits par defaut dans le minetest.conf...

[2015-10-01 18:55] Ombridride opened #31 "Add xban2 mod"
Add xban2 mod

[2015-10-01 19:13] #31 closed

[2015-10-01 19:24] Lymkwi commented on #30
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ab94c4dea95e1778472312e8f1197020963e5ed9
Tu l'as déjà fait, non?

[2015-10-01 20:00] BetterToAutomateTheWorld commented on #30
Le _minetest.conf_ ne modifie les privilèges qu'à la première connexion.

Il nous faut ajouter un bout de code qui rajoute ces privilèges à la connexion du joueurs car tous les joueurs étant déjà connectés n'ont pas certains droits.

[2015-10-02 19:17] Lymkwi commented on #30
J'aurais pu aller lire le nom des fichiers dans `minetest.get_worldpath() .. "/players/"`et redonner à tous les privilèges mais j'ai préféré cette méthode : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/7bd7cacc9042033b94d424ba09b68f571849ef51

[2015-10-02 19:17] #30 closed

[2015-10-02 21:23] BetterToAutomateTheWorld commented on #30
Je préfère cettte méthode aussi.

Merci :)

[2015-10-05 22:57] Ombridride opened #32 "Some tweaks, and level 4"
From the forum post of the server :
![good_idea](http://i.imgur.com/8lu5cad.png)

Any idea to add [cactus] craft recipe and [desert_sand] craft recipe to the subgame ? (Surely Upstream feature because of the actual lack of this two nodes)

Also add [acacia_tree] can be a good idea ? (I think with the recent Minetest_game changes it's a must have, so if we did it, we need to report it Upstream)

Fo

[2015-10-06 07:07] ObaniGemini commented on #32
- [ ] For desert_sand : 1 sand = 1 desert_sand  | 1 desert_sand = 1 sand.
- [ ] For nyans, I think they should be added to the mapgeneration at some high like 50 or 40.
- [ ] Mushrooms : they might appear on cobble/stone which is near water_source
- [ ] For acacia : maybe add 6 acacia_leaves to craft a sapling to this quest (has a reward) https://github.com/MinetestForFun/server-minetestforfun-sky

[2015-10-06 10:24] Lymkwi commented on #32
~~I AM AN IDIOT~~

[2015-10-06 14:26] BetterToAutomateTheWorld commented on #32
Lol @LeMagnesium, beautiful trooling answer, but you **clearly** miss-understand the server we are talking about :)

[2015-10-06 16:55] ObaniGemini commented on #32
- [ ] River_water : 1 water_bucket = 1 river_water_bucket
- [ ] 2 water_bucket (or river_water_bucket) = 4 ice | 1 ice = 2 snow blocks (like this we could have infinite ice/snow)
- [ ] 1 snow_block = 4 snow_balls | 4 snow_balls = 1 snow_block

[2015-10-06 17:26] Lymkwi commented on #32
Yeah alright. You know I have better things to do than helping noobs getting the nodes they want? Allow me to breath and mistake the servers sometimes.

Anyway yes, we need recipes.
- I approve the ideas of the river water buckets and sand
- I approve the ice recipe even though it's not logic. Don't we have any cold item craftable? Or maybe get ice as a reward in level 4?
- Snow balls already craf

[2015-10-06 18:52] farfadet46 commented on #32
i think, for the ice, to do like the ores, with one bloc of ice we get 2 gem of ice
and one gem of ice + one buket of water we get an ice cube + 1 empty buket

[2015-10-07 11:06] BetterToAutomateTheWorld commented on #32
@farfadet46
Your idea is more realistic but too complicated, it's a building server we can't add a feature complicated like this

@LeMagnesium
The nyan blocks can be crafted with one flower of each color, anyway, I agreed with all of your ideas

[2015-10-07 15:36] Ombridride opened #33 "Hide hearth after level 4 completed"
After a player completed the level 4, it will be a great idea to hide his hearth bar because he doesn't need it anymore.

The "normal players" (levle 0 to 3) need they hearth bar because they can die. (by falling for example)

[2015-10-08 17:10] Lymkwi commented on #33
I don't think it's a good idea. You can still die in level 3, and that would be misleading to hide the bar and let the player think they are invisible.
~~EDIT: And recently dues to an update I think the health bar has disappeared.~~ It was just `mff_hud`. Fixed. https://github.com/MinetestForFun/mff_hud/commit/cb64a13e163f26ad6d4d027bf3338e8ac351b41c

[2015-10-08 17:52] BetterToAutomateTheWorld commented on #33
you can't after you complete the level 4, when you have fly+fast, if you fall down (cloud for example), you're teleported to your home point.

[2015-10-08 20:14] Lymkwi commented on #33
We chose not to change anything. Shall I close this?

[2015-10-08 20:15] #33 closed

[2015-10-11 19:47] Ombridride opened #34 "Server crash because of the arming:hoe_* utilization..."
#### Server crash because of the arming:hoe_* utilization...

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2015-10-11 20:06] #34 closed

[2015-10-11 21:45] BetterToAutomateTheWorld commented on #4
up

[2015-10-12 13:41] BetterToAutomateTheWorld commented on #32
I think, because we will certainly push Upstream this changes, the @cornernote 's opinion should be a good idea :)

[2015-10-12 16:30] Lymkwi commented on #32
I clarified the title, what we need is to enable a fourth level, and probably a fifth, to include the rest of the nodes not covered before, with also craft recipes.

[2015-10-12 22:27] cornernote commented on #32
[cactus] will grow on its own, and you can already make [desert_sand](https://cornernote.github.io/minetest-skyblock/items/default-desert-sand/).

Extra level suggestions are always welcome.  I had intended 10 levels eventually, but level creation takes a lot of time and thought, and I have been a bit busy recently.

[2015-10-13 02:28] Ombridride opened #35 "random_messages"
Need to add some difficult/hard to find recipes in [random_messages] mod

From this page https://cornernote.github.io/minetest-skyblock/items/

[2015-10-13 17:55] LeMagnesium opened #36 "Add an external craft guide"
I think we should add a craft guide mod, like `craft_guide` modpack, instead of having to guess recipes.

[2015-10-13 17:57] Lymkwi commented on #35
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/12db8db6ece6efb4c0454e1ab644165bd645fd5f
See #36 though, it might be easier to do.

[2015-10-13 18:02] Lymkwi commented on #32
@cornernote: The problem with cacti is the same with papyri : you need to get some at some point to start growing it. I would want to make it a reward, because I can see no recipe for cacti blocks.
I will start to work with those "leftovers" of code you let in `skyblock_levels/skyblock.level.X.lua` and those ideas we listed.

[2015-10-13 18:09] BetterToAutomateTheWorld commented on #36
Only when the player completed all quests/levels => yes

Actual inventory => no more quests/levels => unified inventory ?

[2015-10-13 18:26] Lymkwi commented on #36
I could give it as a reward for the last level, and disable its craft. That's the easiest way of doing so.

[2015-10-13 19:08] Lymkwi commented on #36
Activating unified_inventory only after a player finished the levels is horriibly complicated to code; just adding an uncraftable craft guide for players when they finish level 3 is enough. Or, I can also add the mod, and prevent players from crafting a craft guide if they have not finished level 3 (just a few lines in a on_craft).

[2015-10-14 17:31] BetterToAutomateTheWorld commented on #36
A node wich show the craft guide is a good idea, only available after the levels completion

[2015-10-14 18:17] Lymkwi commented on #36
That's what you already told me, what I wanted to tell you was how I would do it. The only ways of regulating the possession of such guides are :
- Preventing craft if not level 4 (heavy, needs more code)
- Give one as an award for the end of third level (only needs to remove the craft recipe, but players who already reached level 4 won't get any)

Pick one.

[2015-10-14 18:40] BetterToAutomateTheWorld commented on #36
Definitely the second

[2015-10-14 21:36] Lymkwi commented on #36
Wait. You're picking the one that lets all old players not have a craft guide whereas new players would get the craft guide? I seriously thought you would take the first one.
Anyway I can't find any good craft_guide mod out of u_inv so I need to find one first.
Also, why wouldn't players at levels 1, 2 or 3 have the right to use a craft guide?

[2015-10-15 09:25] BetterToAutomateTheWorld commented on #36
In my point of view, forbidden the craft guide for new players isn't a good idea, if players don't want to compelte all levels before build somehting, there are blocked...

I think the "craft grid help" should be a node, like a bookshelf or workbench, maybe with new texturing.

If you really want to forbidden this node from players which not completed the level 4, we can with a check/condition for

[2015-10-15 14:42] ObaniGemini commented on #4
I won't be there for some time because of personnal reasons. Please excuse me.

[2015-10-15 17:13] Lymkwi commented on #36
I was thinking from the beginning that you wanted the craft guide to be only usable/craftable by players above level 4. Thank gods, I was wrong. I'm in favour of allowing it for everybody.
And also I don't like `craft_guide` because you have to modify every mod's depends.txt to load it before. But I will try to make it work even without that.

[2015-10-17 13:29] BetterToAutomateTheWorld commented on #4
I find this on OGA :
- http://opengameart.org/content/level-up-power-up-coin-get-13-sounds
- http://opengameart.org/content/completion-sound

The two set of sounds can be a little tweaked a used for the finish **quest (player), finish level (player), finish level (other players)** :)

[2015-10-17 13:59] ObaniGemini commented on #4
There's also the award sound that is available. I think that there is one of the 13 sounds set that would be good.

[2015-10-17 15:47] BetterToAutomateTheWorld commented on #4
Please, can you isolate the sounds and send them to us ? Then, we will introduce them in the server

[2015-10-17 19:22] #4 closed

[2015-10-21 22:26] BetterToAutomateTheWorld commented on #35
Add a random message for this recipe :
http://cornernote.github.io/minetest-skyblock/items/default-sand/

[2015-10-22 10:42] ObaniGemini commented on #36
Maybe to craft it, use mese, bookshelf and ?¿

[2015-10-22 15:58] Lymkwi commented on #35
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d5b96b8ded26ee8b00e74d81ff083add3925f0b6

[2015-10-22 16:11] Lymkwi commented on #36
The original craft looks like that :
![Craft Guide](https://lut.im/5In8ZpFUIE/IzOvMkDpWGTd5Iga.png)

I think we should stick with that (no pun intended). Also I think we should remove the craft computer, it's not useful when you already have the sign.

[2015-10-22 18:26] Lymkwi commented on #36
I added `[craft_guide]`, working without having to modify anything else. If you still want to add modifications tell me.

[2015-10-22 18:45] #35 closed

[2015-10-22 18:48] BetterToAutomateTheWorld commented on #36
Yes, removed the computer is a great idea.

For the craft recipe of the craft guide i think something like this will be more interesting :

[code]

So in this way, from the middle of the level 1 players can craft the **[craft guide]** item.

[2015-10-22 19:00] ObaniGemini commented on #36
I prefer the second idea

[2015-10-23 09:13] Lymkwi commented on #36
Yes, me too. I'm going to remove the computers and put the new recipes for the unlocked craft_guides. (locked guides are crafted with one craft_guide put over a steel ingot)

[2015-10-23 09:30] #36 closed

[2015-10-23 09:30] Lymkwi commented on #36
![](https://lut.im/1jx7DB8xlJ/ERfiVriFz37pD7o1)
![](https://lut.im/mgkv7lytTE/pXHSnPvtoFPFspO9)

[2015-10-23 10:58] Lymkwi commented on #32
I pushed some ideas here : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/c4482d9130c56f6991c6b630fc1c96a33b33a44b
EDIT: Also, you can now have infinite amount of snow, snoblock and ice if you have the infinite water source (well, you could but now it won't cost you a bucket). https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/634d1f049cdab393598718d06

[2015-10-23 15:09] BetterToAutomateTheWorld commented on #32
Great beginning, thank you @LeMagnesium
But please, can you create a list of tasks/ideas/things to do with a "check" field ? It's really better than commented lines on the repository file

[2015-10-23 15:10] Ombridride commented on #36
Great, just need to add the recipes compatibility now :)

[2015-10-23 15:11] BetterToAutomateTheWorld commented on #36
Finally, good job ! :)

[2015-10-23 15:40] Lymkwi commented on #32
So,

| Level | feats | amounts | rewards |
| --- | --- | --- | --- |
| Level 4 | place_copperblock | 4 | default:cactus |
| Level 4 | dig_cactus | 20 | default:papyrus |
| Level 4 | dig_papyrus | 40 |   |
| Level 4 | dig_flower | 50 |  |
| Level 4 | place_obsidian | 5 | default:snow 9  |
| Level 4 | collect_river_water | 1 |   |
| Level 4 | place_snow | 1 |   |
| Level 4 | place_locked_chest | 2 |

[2015-10-29 10:11] cornernote commented on #32
Perhaps you could make level 4 and 5 ?  That puts it to half way to the 10 levels I imagined would make up the game.

[2015-10-29 13:11] Lymkwi commented on #32
Yes I already thought we could use the overflowing feats from level 4 to start filling the fifth level. However I don't think there is enough yet to complete level 5.
@ everybody : Which feats do you think should be in level 4?

[2015-10-29 14:12] ObaniGemini commented on #32
lava, protector, rails, obsidian, yellowwool shall be in level 5 to me.

[2015-10-30 10:38] Lymkwi commented on #32
Yes but then we don't have enough quests left for level 4, assuming we want 10 per level. I agree with rails (considering that it rewards a diamond) and lava though. If I put those two in level 5 then we have 10 items for level 4, which is exactly the amount wanted.

[2015-10-30 11:10] ObaniGemini commented on #32
I think protector + locked_chest is too much for one level, we should find a replacement to protector.

[2015-10-30 13:47] BetterToAutomateTheWorld commented on #32
This is not the moment to re-organize quests/levels BUT it's the moment to find ideas to fill the level 4 and level 5.

@ObaniGemini thank you for your suggestions, but it's clearly not the moment to debate about the order.

[2015-10-30 13:53] Lymkwi commented on #32
This is exactly the moment to re-organize the quests and think about the order. The table I presented above is a draft I made. The order is quite unlogical considering all previous levels were increasingly difficult and introducing recipes/materials in a particular order (usually the order in which they are needed). @ObaniGemini was right about rails, I agree that such a long quest must be in leve

[2015-11-09 14:07] BetterToAutomateTheWorld commented on #32
@LeMagnesium Can you give the editable link for the etherpad ?

For the level 4 and 5, we need more ideas, some discussions are interresting in the pad, I strongly recommand contributors to put they ideas here.

[2015-11-09 19:17] Lymkwi commented on #32
[There](http://etherpad.qbuissondebon.info/p/Z0mHqEwkHo) it is.

[2015-11-21 20:10] ObaniGemini opened #38 "Little tweak about crafts"
I want to point a little problem I encounter with some little crafts.
Let's take an example, to craft an iron mineral, you need an iron lump and a stone block.
You will place it like this : ( I = iron lump ; S = stone block )
I
S

The problem is that you can only place it like that, and not in the four ways the grid allows to place them.
The idea would be to able those little crafts to be craftabl

[2015-11-23 14:06] Ombridride opened #39 "Add the [player_inactive] mod"
from the HG server, with the same values

[2015-11-23 16:33] ObaniGemini commented on #39
Well skyblock is mostly a creative server, maye shall we have the harcore/creative server values ?
Other players shall not be blocked by inactive player, as in a HG or a CTF

[2015-11-23 16:40] BetterToAutomateTheWorld commented on #39
That's correct, let's try a 60 minutes value ;)

The problem is now to get free slots when we reach a too big number of inactive players which consume (mainly) bandwich and memory :)

[2015-11-23 19:09] ObaniGemini commented on #39
Well 30/20 minutes seems to be nice to me, but not 5/2 minutes as in HG :p

[2015-11-23 19:39] Ombridride opened #40 "Server crashs"
#### SKYBLOCK CRASHS

[code]

[code]

[code]

[code]

[code]

[2015-11-23 20:09] Lymkwi commented on #40
I can only fix one of those crashs, even though I know there are more than 2 here.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/07d3342b7ecf0a26f3f75f71fe6dd373438185f2

[2015-11-23 20:16] BetterToAutomateTheWorld commented on #39
HG is now 15min ;)

[2015-11-23 21:14] #39 closed

[2015-11-28 22:27] Ombridride opened #41 "Server crash because of [craft_guide] mod"
[code]

[2015-11-29 12:51] Lymkwi commented on #41
We can't solve that. The logs are, again, not precise enough.

[2015-11-29 18:08] BetterToAutomateTheWorld commented on #41
Closed a server crash without a fix isn't a solution.

We need to activate debug mod from skyblock and put log_level to 4.

[2015-11-29 19:14] ObaniGemini commented on #41
I think I understood Mg was making a completely new craft_guide mod ? :)

[2015-11-30 18:07] LeMagnesium opened #42 "Replace [craft_guide] with [command_craft_guide]"
Our version of the [craft_guide] mod triggers obscure crashs and has apparently many bugs. I've written a craft gude mod relying on chatcommands.
[There](https://github.com/LeMagnesium/command_craft_guide) it is.

It's supposed to solve :
 - #41
 - #40
 - many other crashes that were not reported

Things that I'll do :
 - [X] Inhibate craft_guide (https://github.com/MinetestForFun/server-minetestf

[2015-11-30 18:07] Lymkwi commented on #41
[Indeed I did.](https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/42)

[2015-12-03 18:21] Lymkwi commented on #38
I don't think there is any colliding craft recipe with those methods, at least in skyblock so far. The only problem I have is that it will create 4 times more occurences of `minetest.register_craft`, and as we all know, the less we call the engine, the faster it works.
So far I don't see any advantage that could balance with having to write 4 times more crafting code, so I would rather disagree wi

[2015-12-04 09:58] BetterToAutomateTheWorld commented on #38
I also disagree, in my point of view it's not necessary, craft guide is here and the "help tip" feature for quests are great.
If players don't remember how to craft items after this features... We can't do anything more...

[2015-12-06 21:13] Ombridride opened #43 "Updated [protector] mod"
https://forum.minetest.net/viewtopic.php?f=11&t=9376&view=unread#p200603

[2015-12-09 13:21] Lymkwi commented on #43
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d878baa945e5f4c75f02f6c070449e2d4d5e9218

[2015-12-09 13:21] #43 closed

[2015-12-09 18:18] BetterToAutomateTheWorld commented on #43
Thank you @LeMagnesium

I added Upstream label
@cornernote

[2015-12-16 17:52] Lymkwi commented on #41
I close this now, [craft_guide] is 'technically' deactivated.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/5e04d4a5159da3b2daae402b1a651525aaa5131f

[2015-12-16 17:52] #41 closed

[2015-12-16 17:52] Lymkwi commented on #40
It should not happen again now.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/5e04d4a5159da3b2daae402b1a651525aaa5131f

[2015-12-16 17:52] #40 closed

[2015-12-17 22:49] Ombridride opened #44 "sethome / gohome button"
Some players ask me for add a **sethome**(/sethome) and **gohome**(/home) buttons like unified_inventory do it n they inventory

[2015-12-18 20:03] Lymkwi commented on #44
Do they realize how horrible it is to have to change some of skyblock's deep code to fit their wills?
Anyway, it's done, and surprisingly quite clean.

[2015-12-18 20:03] #44 closed

[2015-12-19 13:07] BetterToAutomateTheWorld commented on #44
Perfect, you're the best ;)

[2015-12-23 18:39] BetterToAutomateTheWorld commented on #38
I closed the issue, we disagreed with this feature because it's too heavy and not so useful.

[2015-12-23 18:39] #38 closed

[2015-12-24 15:06] BetterToAutomateTheWorld commented on #42
I think the 1 weak countdown is over, can you "Erase the code from our repository" and closed this issue please ?

[2015-12-24 18:06] BetterToAutomateTheWorld commented on #32
@gravgun wants to work on this task, maybe he can code an update soon for the level 5 implementation (this level needs to include "pads_teleporter", players says me everyday they need it :p)

[2015-12-24 18:11] Ombridride opened #45 "Spawn/sethome/home and inventory"
#### Spawn Point
- [x] add the spawn mod => https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/c465fe743f6d6da1fb7f1ce8bc04f009368496a4
- [x] set a spawn position in the minetest.conf
- [x] add a button on the player inventory to use it easily => ~~https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/c465fe743f6d6da1fb7f1ce8bc04f009368496a4~~ => Need to re-a

[2015-12-24 18:50] #42 closed

[2015-12-24 19:43] rredesigns opened #46 "Cardinal points teleports."

[2015-12-24 19:43] #46 closed

[2015-12-24 19:49] rredesigns opened #47 "Cardinal points teleports."
I have been talking to one of the admins about teleports. Helping new players gets tedious and takes more time as their homes are being place further and further, so he suggested that a spawnpoint in the middle would be helpful. And yes it would be.

But, since the world wraps around the center with every new player in a square-like shape, then maybe it would be a good idea to place spawn points o

[2015-12-24 20:28] rredesigns opened #48 "Numeric input in craft grid."
Usually, using a PC to craft in the game, can ruin a mouse pretty fast after so much clicking. A normal crafting is never a task to make just one stick/ore/etc, so, in order to make it easier, faster and at the same time less harmful to mouses (no idea how it works in mobile), I suggest either a numeric input or an accumulative click routine, so just one click is needed to craft as much as needed.

[2015-12-25 03:27] rredesigns commented on #48
I recently found that using the middle mouse button can make crafting easier. The Max button would still be a great feature though.

[2015-12-25 09:25] Lymkwi commented on #47
The fact is that we already have a teleportation mod installed, `travelpoints`, and placing standard teleportation stations would even be easier using the `warp` mod. However, as I recall, players can, on skyblock, have unlimited use of their `home` and `sethome` functions.
@Ombridride is probably the only person able to place and set fixed warp points on the map so his opinion here is important.

[2015-12-25 09:29] Lymkwi commented on #48
The problem though is that we can't really control such feature in Lua, only the engine developpers would be able to implement this properly. As far as I know it's doable in a mod, but it would be a disgusting hack to implement when it should clearly be done by builtin or the engine.
(I'm just gonna try to see how bad it looks like)

[2015-12-25 09:34] Lymkwi commented on #45
(We're gonna run out of place to add buttons at this rate...)
Do we put an action timer over the use of the spawn command and button?
Also, considering that the spawn position will be visited by a lot of players with more or less good motivations to be there, I think you should build a spawn house, or something like that, in an unbreakable material, and use its position as a spawnpoint.

[2015-12-25 09:47] ElementW commented on #48
Much more of a hack / workaround than a real solution.
However given the coredevs' stubbornness, I doubt if we ever made a PR to the engine they'd accept it briefly (they always find a way to piss you off either about code style, efficiency (which is inexistent in their engine) or implementation details).
Just look at how much time it took them to implement shift-click stack movement ([c977fbd](ht

[2015-12-25 11:14] Lymkwi commented on #48
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/9998b5808e13638ad7a5a6eb845288fe719306af
This implements a max button.
Considering how obnoxious that was to code, and also how much space is left on the players' inventory, I highly doubt a numeric input field would be worth the efforts of implementing it.

[2015-12-25 15:25] BetterToAutomateTheWorld commented on #48
Middle mouse click (10) + max button seems to me good and make easier the way to craft easier big amount of items.

I closed the issue

[2015-12-25 15:25] #48 closed

[2015-12-25 15:29] BetterToAutomateTheWorld commented on #45
Yes, the place will be a problem at this rate :)

No need to add a timer for the **spawn** command

Yes, i'm open to suggestions for a spawn point, i don't know where exactly to put it... Let's give your ideas :)

We can eventually build a spawn house/building, in unbreakable way, i agree

[2015-12-25 15:33] BetterToAutomateTheWorld commented on #47
The idea is to grant the players the possibility to craft and put/use warp teleporters when they reach the level 5, it's a level 5 privilege ;)

Need @gravgun for a more accurate answer

[2015-12-25 19:33] rredesigns opened #49 "Easier lumbering."
I've seen this mod used in other skyblock server so I know it works and works well. Don't know if is a public mod in Minetest forums or a server custom, but is pretty neat and all players will love it.

When cutting the base of a tree, all the wood chunks and saplings go down and are added to the inventory, as they would if you had harvested all of it manually.

Maybe saplings is not needed, but i

[2015-12-25 19:57] Lymkwi commented on #49
There are actually multiple mods which do that, among which `treecapitor` (I think that's its name).
We could also code that into default. That's done in a few lines for the default tree, but it's harder for ~~pines~~ acacia trees and jungletrees.

[2015-12-25 20:08] Lymkwi commented on #45
At about the center of the map should be good, but why not around (16336, 15704)? That would connect it to the city in building.

[2015-12-25 20:09] Lymkwi commented on #47
Allowing players to craft/place warps is a bad idea for me, unless there are restrictions on the amount placed, but having publicly accessible and usable warps like on the Classic server would be okay.

[2015-12-25 20:12] ElementW commented on #49
@LeMagnesium That's `treecapacitor` you meant there.

[2015-12-25 20:16] ElementW commented on #32
@Ombridride I've already started working on it locally. Now I'm sorta stuck trying to find a good L-System for the tree I'll be adding (Aerbratus) -- and most of my time goes to glPortal currently.

I also frequently hear teleporter pads are needed, I wont forget them ;)

[2015-12-25 20:29] Lymkwi commented on #49
@gravgun : Exactly. However, I couldn't find it in my mod database, so I'm going to code that on `default/functions.lua`, but only for normal trees and pines.

[2015-12-25 20:39] ElementW commented on #47
@Ombridride See @LeMagnesium's comment about travel pads.
It'd easily get out of hand, _somehow_.

`travelpoints` has a system that separates personal and global travelpoints, no issue there. Only the ones with the good privs can get their personal TPs global by the click of a button.

What I'm more concerned about though is sort of "abuse" or "over-use" to the least. Also a sense of uselessness t

[2015-12-25 22:30] rredesigns commented on #49
Oh, great!!!!!!!!!!.

Magnesium, you are my new hero. :D

[2015-12-25 22:39] rredesigns commented on #47
Sounds promising. I hope you implement lvl5 soon then. :dancer:

[2015-12-25 22:50] BetterToAutomateTheWorld commented on #47
@gravgun some other mods do the same things as travelpoints and has no UGLY ABMs

So, _travelpoints_ (for players) or _warp crystals_ (only moderators/administrators use) are better...

In my point of view, a way that players can put they own teleporters is better

[2015-12-25 23:05] BetterToAutomateTheWorld commented on #45
Good idea, i cleared this area for cessna151 a few days ago but i can used it for a little spawn building, or maybe cessna151(or other players) can build it, i will ask him(them)

[2015-12-25 23:06] BetterToAutomateTheWorld commented on #49
We can't do this only for normal trees and pines. We need to do this also for jungletree, it's a must have feature for consistency ;)

[2015-12-26 10:48] Lymkwi commented on #49
Look at how consistent the patterns for scattering trunk nodes are for acacia and jungletrees :

![](https://lut.im/5nFwkbT6tY/zwpYCUjQiTiYEquO)

![](https://lut.im/QRLaYUk7W1/58QWAPMTZdUvk9dD.png)

I could try something for the jungle trees though, considering it's probably a bit better than I expected (since the tree definition changed in 0.4.10 I think), but I can't help with the base of the tr

[2015-12-26 11:04] #49 closed

[2015-12-26 14:08] ElementW commented on #49
@LeMagnesium Acacia nodes and saplings do exist in SB but can't be obtained (except using `/give`).

[2015-12-26 14:49] rredesigns commented on #47
What about travelnet boxes for lvl4 untill you get to implement lvl5? As I read, it is very efficient in performance terms because it depends on user input.

[2015-12-26 14:52] rredesigns commented on #49
Same problem this mod had in the other server, though is nothing compared to chopping every single block (in pines is a very long task).

 In Skyblock however we only have apples and pines as the most common types.

[2015-12-27 15:35] BetterToAutomateTheWorld commented on #49
This issue is over, no need to use treecapitator for acacia for now because it's not implemented yet in the Skyblock Subgame :)

I will merge soon the server to add this feature.

[2015-12-28 11:36] rredesigns opened #50 "Short tree."
Small, craftable tree. Crafted with pine sapling and Round-Down (to limit it's growth), though it might be to hard to code that way, so also bucket+dirt+sapling could work to get a tree in a pot.

[2015-12-28 11:50] ElementW commented on #50
Hum IDK if you can add wear to tools in the crafting grid. So the 2nd crafting recipe seems more feasible.

[2015-12-28 11:55] rredesigns commented on #50
I know. Also more intuitive. It should look like a small cipress in a pot. I'll have captures later. BTW, how should it be made?

[2015-12-28 12:56] BetterToAutomateTheWorld commented on #50
-1
I don't agree with this idea.
No need to add more tree schematics for the moment, we have other "real" trees to add in the next levels, like the acacia tree

[2015-12-28 13:11] rredesigns commented on #50
Well, those trees can't be used as in house decoration, unless you have a mansion, and still, would look bad.
 I think I should've mentioned it will be like 2-3 cubes high.

[2015-12-28 13:48] BetterToAutomateTheWorld commented on #50
If you want a small tree you can put a sapling deeper, if the surface is at "x,0,z", put your sapling in a hole in -2 for example and your tree trunk will be small ;)

[2015-12-28 14:20] rredesigns commented on #50
I know, but just look at what I mean, then tell me how much of a bad idea it is. :D

[Here:](http://i.xomf.com/hlfxl.png)  Sorry about the perspective. I have no idea what focal lenght MT camera uses. :p

[2015-12-28 14:29] rredesigns commented on #50
Also, a regular sapling twice as high is good too, after all, is just to decorate. Also, if not the whole tree, cosider at least the pot as a map model to plant several stuff on it.

[2015-12-28 14:37] ObaniGemini commented on #50
Skyblock is meant to be light and simple, so I don't think there would be room for that kind of things. But it would fit greatly in our creative server repository ! ( https://github.com/MinetestForFun/server-minetestforfun-creative/

[2015-12-28 14:46] rredesigns commented on #50
Is a very simple model, can't get it lighter than that. But I think I understand. You can close this issue then, but consider making the pine sapling taller, please.

Btw, if you want that model, tell me and I'll give you the .blend fiel.

[2015-12-28 15:01] BetterToAutomateTheWorld commented on #50
If you want you can give us the .blend file for an eventually addition on the Creative server :) (please open an issue on the creative server, it will be easier for us)

I don't think we should tweak the base/subgame core schematics...

I closed this issue, thank you anyway for your idea

[2015-12-28 15:01] #50 closed

[2015-12-28 23:32] ElementW commented on #32
Level 4+ todo list so far:
- [x] Add TP request mod (maybe disable asking when l4+ players TP to another l4+)
- [x] Add travelnet boxes (reskin, the default ones looks ugly)
- [ ] Add rare/expensive items so it can form an economy
- [ ] Add sky furnaces (time delta smelting, no mandatory ABM - 3x3 inventory, checks for SB smelt patterns then defaults to 9 normal smelting recipes if none found)
  -

[2015-12-29 20:26] Ombridride opened #51 "sound when player eat something"
Add a sound when a player is eating something will be great (like hunger does from classic server)

[2015-12-31 23:27] rredesigns opened #52 "Protection recipe creates one item instead of 4 (as usual)"
The crafting of either logos or boxes produces just one instance in the output per recipe rather than 4 as it was previously.

[2016-01-01 09:45] ObaniGemini commented on #51
I'll can make one when I'll be back (soon)

[2016-01-01 13:29] BetterToAutomateTheWorld commented on #51
We have already this kind of sounds in classic, i think it's enough :)

[2016-01-01 16:59] Lymkwi commented on #52
We replaced our version of `protector` by a submodule referencing protector's upstream repository. Thus, the craft was updated.
We should fork protector, and work on our repository.

[2016-01-01 17:40] BetterToAutomateTheWorld commented on #52
Yes @LeMagnesium
And we need to add the new super_protector_block/lock on this forked repository of "protector"

[2016-01-01 18:01] rredesigns commented on #52
I will be done.

In the mean time, let's fix what's broken. :D

[2016-01-01 21:31] ElementW commented on #52
MinetestForFun/protector@3665f39aa490adb2eec0d7b0e7908328feb0582c

[2016-01-01 21:31] #52 closed

[2016-01-01 21:38] Ombridride opened #53 "Remove the area privs"
I need to remove the area privs from the file manually, it will take some minutes with a regex and will be applied after a reboot
Anyway, the mod area aren't here anymore so the actual priv for players isn't very important

[2016-01-02 13:09] Lymkwi commented on #53
Can't you just shut the server down for a minute and before restarting do this? :

[code]

[2016-01-02 13:52] Lymkwi commented on #51
`hbhunger` is responsible on Classic for the sound emitted when someone eats.
It was very easy to copy.

[2016-01-02 13:52] #51 closed

[2016-01-02 21:04] BetterToAutomateTheWorld commented on #51
Yes, I was wondering this, thank you for the add.

[2016-01-02 21:05] BetterToAutomateTheWorld commented on #53
That's a regex with sed, that's why i planned to do ;)

[2016-01-04 21:58] cessna151 opened #56 "in game /ignore feature"
Let's discuss adding a /ignore <playername> command. Questions, concerns, comments?

[2016-01-05 05:44] rredesigns commented on #56
Could easily be achieved with Chat Plus mod. It is needed at this point, that we have many more people playing.

[2016-01-05 07:09] ObaniGemini commented on #56
I think there should be a message like " xplayer is ignoring you" when a player is ignored by another. This would minimize spam/flood a little bit (IMO). But a chat message would probably be ignored as well, so maybe a top-right message (with some flashy color ?)?

[2016-01-05 08:47] BetterToAutomateTheWorld commented on #56
The chatplus mod won't be added, we met some problems with it, but we can code this feature in the skyblock subgame if it's needed

For example, **Kevin** blacklist **BadGuy** :
- If **BadGuy** speaks on the public chat, **Kevin** can't see it.
- If **BadGuy** sends a mail or a msg to **Kevin**, **Kevin** can't see/receive it and in this case, a small message is displayed in the **BadGuy** chat to

[2016-01-05 08:59] BetterToAutomateTheWorld commented on #47
Travelnet boxes and the spawnpoint are now added, I think it's enough for your travels :)

But, Can @gravgun give me more informations about the Travelnet boxes : when players will be able to craft/use them ? in which level ? A quest to craft/put/use them will be aded to introduce them ? The texture is over or not ?

i know, for the moment everybody can craft/put/use them at any times, but the fin

[2016-01-05 09:27] ElementW commented on #47
Drop the travelpoints already. Travelnet boxes are more efficient and don't have any ABMs.

[2016-01-05 13:29] rredesigns commented on #56
I thing the GUI is a bit too much for a case when only 2 commands are needed. /ignore and /unignore are easy enough for anyone to use, plus, it won't be used intensively to justify it, or I hope so. :D

[2016-01-05 14:59] BetterToAutomateTheWorld commented on #47
^ Yes, just a mistake, i edited my previously questions with Travelnet boxes words ^

[2016-01-05 15:01] BetterToAutomateTheWorld commented on #56
With our previous experiences, i can say, it's always better for noob players when you can give them a GUI :)
but yes the command is simple to use, you will can use it instead of the GUI if you want

[2016-01-05 16:45] aerozoic commented on #56
I like Obani's suggestion, a notification that you have been ignored would be helpful.

Also here is a list of commands that i think would be useful:

/ignore playername - Ignores player
/unignore playername - Unignores player
/ignore_list - Shows a list of all players i have ignored
/ignoreme_list - Shows a list of all players that have ignored me
/unignore_all - Unignores all players on my ignor

[2016-01-05 20:54] Lymkwi commented on #56
Actually, any kind of modification of the chat's behavior is made painful and imprecise because of the engine. The only way to achieve what you ask for is reproducing exactly what chatplus did, and it includes part of the code's behavior that bothered us so much that we finally removed it. The mechanism I'm talking about is a loop called by the `on_chatmessage` callback, which would take upon the

[2016-01-05 21:11] aerozoic commented on #45
/spawn works now :-)

Don't forget the spawn button in inventory.

[2016-01-05 22:14] BetterToAutomateTheWorld commented on #45
Spawn point inventory button texture for @gravgun

![spawnpoint_button](https://cloud.githubusercontent.com/assets/8619233/12129143/027dbce4-b402-11e5-9680-26a8bb3e7865.png)

[2016-01-05 23:35] ElementW commented on #47
With the updated wording: Craft and use from level 1, since I don't want to go dig in the code to deny usage, nor can we even restrict crafting.
Placing them should be restricted to level... welp there's already a restriction: you need mese to craft travelboxes and you get mese on Level 3 IIRC. But yea forcing Level 5 or 6 to place them would limit their number.

[2016-01-06 08:49] BetterToAutomateTheWorld commented on #47
I agree with you, the craft recipe should be always available for show new players it's possible to craft/use them.
However, level 5 or 6 it's a good idea, if i can add something : if a player without the level quest completed try to put a "travelnet box", send him a chat message to explain why he can't do this for the moment

[2016-01-06 16:41] cessna151 opened #58 "new skyblock texture"
Somebody mentioned a couple weeks ago something about making a new skyblock texture to replace the "?" but i don't remember who or why it was mentioned. Anyway, i was bored and made this texture:

![skyblock_quest](https://cloud.githubusercontent.com/assets/15715378/12148015/0e3633a0-b46a-11e5-96fe-0bbd50e5162a.png)

Like it, hate it, edit it, or use it if you wish. It's up to you.

[2016-01-06 17:21] Lymkwi commented on #58
@gravgun , that's for you.

[2016-01-06 17:23] BetterToAutomateTheWorld commented on #58
Beautiful ! But maybe too colorful compared to the other icons :p

EDIT : After reflexion, the "?" seems perfect to me for the "quest" icon (like many MMO/RPG, it's a standard)

[2016-01-09 23:47] aerozoic commented on #45
Spawn building structure is done. It just needs interior decoration. How do you want to post rules?

I'm planning to add a "Noob corner" somewhere in the spawn house that will explain and give examples of things that aren't obvious to noobs. (for example: how a protected chest is different from a locked chest)

[2016-01-10 08:34] ObaniGemini commented on #45
@cessna151 : prefer "newbie" to "noob" ;)
Also I think rules will be displayed as in all our other servers : on locked signs (10-12)

[2016-01-10 15:08] rredesigns commented on #58
In the case of the quests, probably it would be better to use "!!" instead of "?".  So the player will be dragged to check it, instead of just ignoring it.

[2016-01-10 16:01] aerozoic commented on #45
Yeah i will name it something more professional in the game.

[2016-01-10 21:59] BetterToAutomateTheWorld commented on #58
or maybe the classic quests icon should be good, anyway, "?" or "!" it's understandable ;)

[2016-01-12 16:10] Ombridride opened #59 "Updated [protector] mod"
The [protector] mod has been updated, maybe should we see and keep some tweaks ?
https://forum.minetest.net/viewtopic.php?f=11&t=9376&view=unread#p204019

[2016-01-12 20:46] Lymkwi commented on #59
It would be easy to rebase our repository from Upstream.
@gravgun is the one who can tell whether we should or not.

[2016-01-13 08:42] BetterToAutomateTheWorld commented on #59
Don't worry, currently, this issue isn't a priority

(PS : @gravgun won't be here since at least 1 week because of exams)

[2016-01-13 17:28] Lymkwi commented on #45
[There](https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/02459eccd566067f869d0b04f8fbb33c0690d003) is the button.

[2016-01-13 17:29] #45 closed

[2016-01-13 17:39] rredesigns commented on #58
Or maybe a girl in bikini. :p

[2016-01-13 17:56] ObaniGemini commented on #58
I think he watched the Teen/Adult topic on MT forum...

[2016-01-13 18:44] gravgun opened #60 "Add [u_skins]"
@Ombridride said to me on IRC players wanted skins.

So, give them skins.

Around 10 skins should do the work (at least 2 female), and since we want to keep the SB light, they have to be extremely optimized PNGs.

* [x] Add the mod
* [ ] Make/add skins

[2016-01-13 19:57] rredesigns commented on #58
I did. XD

[2016-01-13 22:01] farfadet46 commented on #60
hum, there is some skin in the 'wardrobe' (Sorry I don't know how to write it)

[2016-01-14 00:19] rredesigns opened #61 "New players are spawning in existing, protected nodes."

[2016-01-14 08:40] BetterToAutomateTheWorld commented on #60
We need something simple, in the inventory :)
(Available when a player reach the level 2 for example)

Maybe we can hide or forbidden the u_skin button if a player without the level 2 done try to change skin, and display the button + chatmessage the player to inform him he can change his skin if he wants it with the inventory

[2016-01-14 18:16] Ombridride opened #62 ""Report" countdown"
We need a countdown for "Report" feature, players often spam us...
30min or 1 hour should be great in my point of view

PS : Don't forget to apply it to all of our servers

[2016-01-14 18:30] aerozoic commented on #58
How about this one...

![skyblock_quest1](https://cloud.githubusercontent.com/assets/15715378/12333574/f4691eec-bac2-11e5-8174-08400e376cf3.png)

[2016-01-14 18:37] aerozoic commented on #62
I suggest starting it lower at about 1 to 5 minutes, then if we still get spammed, increase it a little. If a player has a legitimate report but think they need to split it up because it is too long, or they just like to /report for each line, then they'll be prevented from giving the full report if the timer is too high.

[2016-01-14 18:49] aerozoic commented on #45
Mg, when testing locally, the button doesn't have a popup text when hovering the mouse. I forgot what that's called. Tooltip maybe?

[2016-01-14 18:49] BetterToAutomateTheWorld commented on #58
The texture is great but i think players will have some difficulties to see correctly ingame the "?" and "!", but your idea is pretty good

[2016-01-14 18:58] aerozoic commented on #60
Are you planning to use skins already made from a skin mod or make custom "skyblock" skins?

[2016-01-14 19:17] ghost commented on #45
@cessna151 Tooltip fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/afe29c0d26874a3df09d4fddd15e1efee3fe2991

[2016-01-14 20:12] ObaniGemini commented on #60
@cessna151 : maybe both :p
But first we need time and inspiration and some faith ^^

[2016-01-14 23:51] cessna151 opened #63 "Fork [unified_inventory]?"
With bags already disabled, forking will allow us to disable bags.lua for two reasons:

First, to remove the craft items. Second, and more importantly, to reduce bandwidth use.

R_R_E_Designs confirmed it is using bandwidth by doing some traffic analysis.

[2016-01-15 01:33] rredesigns commented on #62
Cessna has a good point. But usually, a report should be short. Concise and precise. So no. :p

[2016-01-15 02:11] rredesigns commented on #62
I think we should actually limit it to one report per session. It will be easier to keep track (just create a file in the server after first report that remains untill player logs off) and also easier to code. Plus, no much load to the server, since the second report would check for that file. No timer.

[2016-01-15 07:25] ghost commented on #62
What? this commit has removed countdown https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/633fbc3b79482ae04ea8c0d1de851f28b70d41fc

[2016-01-15 10:17] BetterToAutomateTheWorld commented on #62
Yes, this commit erase the 10 minutes countdown... But the countdown wasn't commented...

So, can someone re-add the "report" countdown and comment the code ?

Let's try with 5minutes (300 seconds)
(PS : I don't see a chatmessage to inform players he tried to send a message during the countdown, if it's not implemented, it will be a good idea to add it)

[2016-01-15 10:21] BetterToAutomateTheWorld commented on #63
Our version of [unified_inventory] is already a fork

Indeed, we need to remove all code/lines about bags.lua and its formspec/inventory window/craft/etc... If it's currently just "hidden"

[2016-01-15 15:18] rredesigns commented on #63
I guess I can try it while gravgun is away. I'll take a look at it.

[2016-01-15 15:40] ElementW commented on #63
@rredesigns @gravgun may be away but he is always watching.

[2016-01-15 15:45] rredesigns commented on #63
He's always pushing bugs. XD

[2016-01-15 17:39] rredesigns commented on #63
Ombridride, I think I have it. I can't test locally so a merge is needed. Where is that forked repo for the mod?

[2016-01-15 17:56] Lymkwi commented on #60
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/b1be52a2a14a6d6f2efe7c2483f99e9c31dba750
For now u_skins is quite heavy (not as much as Classic's version though). Since it comes with 160 skins, I added Classic's custom ones, and tweaked a few things in the code.
Now we should decide which skins to keep.

[2016-01-15 18:45] Lymkwi commented on #63
Our version is _not_ a fork. It's directly hooked to Upstream.
I just forked minetest-technic's repository though, there it is : https://github.com/MinetestForFun/unified_inventory .

[2016-01-16 01:48] rredesigns opened #64 "New craftitem: clock"
I was testing locally a very simple craftitem that will allow to do what beds do now, but is not necessary that most players agree with it. Is a clock that sets the time of day to 0.23 (just as beds do).

I would like to have it ingame. Probably set a new priv that the admin will grant to some players (though others might think is unfair), or just put it in there and don't tell anyone about it. Th

[2016-01-16 08:24] ObaniGemini commented on #64
Well the problem is that some players could want to be at night. But if the craft is easier than beds, why not adding it as a replacement of beds work. Many players can't pass night just because they don't have a bed. It could also add a quest for first levels.

[2016-01-16 08:25] ObaniGemini commented on #60
10 skins = 5 per page ?

[2016-01-16 12:46] BetterToAutomateTheWorld commented on #64
I'm against this mod, so -1.

The subgame needs to be light, and this mod is just a bed clone with "set_time" abuse.

[2016-01-16 14:25] rredesigns commented on #64
Actually @ObaniGemini , the craft I set up requires 4 mese blocks, one diamond block, and 4 steel ingots. So is not easier to craft than beds. But of course, it can be changed. I made it hard so only advanced players will be able to craft it.

@Ombridride, the subgame will be equally light after this. And there's no "set_time abuse" as I see it, since beds do the same thing, just under different c

[2016-01-16 14:29] rredesigns commented on #60
I checked the skins. There's a lot of garbage there. I think there should be 2 skins for boys, 2 for girls, and 2 of fantasy and unisex  (e.g. zombie).

If somebody asks for more, you can add bit by bit, making sure that only is being added what is going to be used.

[2016-01-16 16:28] Lymkwi commented on #61
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/b0abd39c6c88d815a517c3935c6855c25f1d4836
With this, we'll have a basic way of fooling the spawn system by asking multiple times for spawn positions, and retrying until we've got one isolated (or unloaded).

[2016-01-16 16:55] Lymkwi commented on #64
Well, the idea of having a clock to _see_ the curent time wouldn't be bad, but I don't see anything this clock could do that beds couldn't. Also, beds require more than 50% of players to be sleeping at the same time at night. If we follow this logic, we should have a system that makes multiple players acting together able to change time. Having a single user able to change time wouldn't be, in my

[2016-01-16 16:57] rredesigns commented on #64
I think it is. As I explained Obani, me and cessna are always asked to "make it day" by new users.

[2016-01-16 16:59] Lymkwi commented on #64
Okay, but then, you should do it colectively, like for beds.
Otherwise we could grant you settime but that would be unequal.

[2016-01-16 17:02] ObaniGemini commented on #64
@rredesigns : you don't get was we mean with "light". It's not just about the server performances. I'll take the example of a color pattern in graphism. You can go out of the pattern, but the pictures will not have the same look, the same spirit.
Skyblock is minetest_game, with some little adds.

The solution of your problem would be in giving `time` privilege to some people, like all of us on tha

[2016-01-16 17:05] Lymkwi commented on #60
By default, there are 16 skins per page. I think this is a good number.
@rredesigns You're free to remove everything and create your own skins, just remember to do the back and front previews, and fill in the meta files.

[2016-01-16 17:07] ObaniGemini opened #65 "Strange bug ?"
`<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed the quest "place_door" on level 1
<MFFSB-Bot> araba completed

[2016-01-16 17:12] Lymkwi commented on #65
They probably died. That's what happens usually.

[2016-01-16 17:36] rredesigns commented on #60
I'm talking about the number of skins rather than their aspect. They are a lot, the last pull I did downloaded over 5MB of textures. :/

[2016-01-16 17:39] ObaniGemini commented on #60
we need between 10 and 20. @rredesigns if you want to find out the 10 or 20 best one, we'll make a selection and make some new ones if there are still bad skins in that selection. :smiley:

[2016-01-16 17:39] rredesigns commented on #64
Time priv sounds ok too for devs. I just need a fast way to set time without using spanish, english and my bad german to tell players to go to bed.

Beds are a HUGE mess. When players get to bed and nothing changes they come out, and refuse to get in, is really complicated to coordinate 7+ people speaking different languages while at the same time a bunch of them is asking you to make it day becau

[2016-01-16 17:40] ObaniGemini commented on #65
@LeMagnesium : he spam died during 4 minutes ? And still could do the same quest in the middle of the level 1 ? This is strange IMO.

[2016-01-16 17:42] rredesigns commented on #60
I'll check that later, I just gave a quick look to the massive download but didn't inspect the skins. I don't even know how to change the default one. How would players use them? Is there a HUD for picking a skin?

[2016-01-16 17:43] ObaniGemini commented on #64
@rredesigns : if players can't use bed, so we have to set time by ourself for them or for us. There's no other solution. When someone asks the others to go to bed, you can still ask if someone doesn't want to be to bed and set time to day. But allowing every player to choose whenever they want to change time to day is not possible to do. It would turn into an incredible mess. We only can give that

[2016-01-16 17:45] ObaniGemini commented on #60
@rredesigns : yes, we will just add a new inventory_link to skins :)

[2016-01-16 17:55] rredesigns commented on #64
@ObaniGemini I understand. That's why I made a super difficult, super expensive craft, to limit the access to new players. But if admin is ok with granting devs with time priv, then is equally useful.

[2016-01-16 17:55] rredesigns commented on #60
Cool. :D

I want a power ranger suit. :3

[2016-01-16 18:43] ObaniGemini opened #66 "Give time privilege to repo owners and maybe other people ?"
We, workers on the repositories of Xorhub, need the `time` privilege for the skyblock server. We also need tokens to login on IRC. I think that if we are abled to push here, it's that we are trustworthy, and that we will not abuse of it, or annoy other players before using it.

It's a top priority because many players are annoyed by night, but not every player. So we need to have people to moderat

[2016-01-16 18:43] ObaniGemini commented on #64
@rredesigns We'll ask him as a top priority. || https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/66 || Please support if you think it's a good idea :)

[2016-01-16 18:46] rredesigns commented on #66
I agree.

+1 to LizzardBeth (don't know her, but she's online quite often)

[2016-01-16 19:03] rredesigns commented on #64
Is a good idea. :D

[2016-01-16 20:44] Lymkwi commented on #65
This could be so many things except a bug. If they had ressources stacked in a chest dying is not an issue.
Still, until you've proven there was something wrong, based on the chat, it could totally happen without any bug involved.

[2016-01-16 21:06] aerozoic commented on #65
I have seen this recently as well, and it was within just a few seconds, although i can't say whether it's a bug.

[2016-01-16 21:46] aerozoic commented on #66
+1 for time priv

@ObaniGemini you can use /gen_token in game to get your IRC login token :-)

[2016-01-16 21:56] aerozoic commented on #60
+1 for 2 male, 2 female, 2 fantasy. I think 6 is enough.

[2016-01-17 18:43] crabman77 opened #67 "server crash"
[code]

[2016-01-18 08:26] BetterToAutomateTheWorld commented on #60
I agree with 2 male + 2 female + 2 unisex/fantasy
Need to make a list about the best skins now :)

[2016-01-18 08:29] BetterToAutomateTheWorld commented on #66
If i understand well, the night is a problem for all players ?
If yes, we can easily erase the night

[2016-01-18 08:30] BetterToAutomateTheWorld commented on #65
Probably not a bug in my point of view, just a player which repeat the quest after he died...

[2016-01-18 08:34] BetterToAutomateTheWorld commented on #64
If i understand well, the night is a problem for all players ?
If yes, we can easily erase the night

[2016-01-18 08:37] BetterToAutomateTheWorld commented on #61
Good job @LeMagnesium
Does it work on the dev server (or locally) without crash ?

[2016-01-18 08:41] BetterToAutomateTheWorld commented on #53
Done, it will be applied at the next reboot of the server.

[2016-01-18 08:41] #53 closed

[2016-01-18 10:49] ElementW commented on #66
@Ombridride "If yes, we can easily erase the night" if you do you'd fuck up 50% of the plans I had for SB.

[2016-01-18 14:07] rredesigns commented on #66
@Ombridride not for all players, but for most. Especially the new ones who happen to either spawn at night or reach the night without at least a torch.

[2016-01-18 14:08] rredesigns commented on #64
No, not for all of them.

[2016-01-18 14:12] rredesigns commented on #60
I tried to delete some and totally broke the mod. I think Mg should handle this.

Best 10 are: Ironman, Link, female Link, soldier, Assassin's Creed char, one more girl(dunno the name), superman, another female, smoking guy, Storm Trooper.

[2016-01-18 14:53] BetterToAutomateTheWorld commented on #64
I discuss it with @gravgun we surely have a way to reduce the night time proportionally to the day time

Actually it's 50% day & 50% night, and maybe it will be interesting to do 1/3 night & 2/3 day, or 1/4 night & 3/4 day
The clock and give the "time" privileges aren't good solutions

[2016-01-18 17:26] ObaniGemini commented on #66
@Ombridride not for all players, that's why we don't give that clock item @rredesigns . As @gravgun said, night can still be important to players. But as many need to be at day, a moderation system should be added. Here is the point.

[2016-01-18 20:54] rredesigns commented on #66
I understand the point. I just explained that the night was not an issue for everyone.

Erasing the night is out of discussion, night can be cool, but if most players agree that they want to skip it, it would be great to do it without having to coordinate a bunch of kids that won't listen. XD

[2016-01-18 21:05] BetterToAutomateTheWorld commented on #66
@gravgun will introduce special night nodes at the end of this week, and he explains me "night is really important in his future ideas" so, we won't erase night BUT we will reduce surely the night proportionality for something like 1/3 or 1/4 of night in a day and not the currently 1/2 night in a day.

[2016-01-18 21:35] Lymkwi commented on #56
There you have it : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/35556a5e05e148a7e7499f9e6bbc5004746cfcef

[2016-01-19 10:13] BetterToAutomateTheWorld commented on #56
Good job !
The inventory button and GUI are missing, but for a beginning it's really great :)

[2016-01-19 13:59] aerozoic commented on #56
I think it's fantastic!

[2016-01-19 20:03] Lymkwi commented on #67
What the f*ck, the docs tells that there's only one parameter. What is Minetest complaining about?
EDIT: That might come from a bug fixed in dev but present in stable

[2016-01-19 21:04] Lymkwi commented on #67
There's definetly something weird about the crash message, but I've fixed the original issue which was not core-related.

[2016-01-19 21:05] #67 closed

[2016-01-20 14:05] aerozoic commented on #60
@LeMagnesium i tried to revert but it failed. :confounded: The only commit that i intended to push is 276e022ca2b6340b37b3f57a1fd970f92b039486. The rest were not intended. :large_orange_diamond:

[2016-01-20 15:07] BetterToAutomateTheWorld commented on #60
Can you removed the submodule unified_inventory if you don't use it ?

[2016-01-20 20:53] Lymkwi commented on #60
It was just an accident. I fixed it : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/8abafd005d7cbf418ce65872ff1b00bcfe9095bc
I also checked, u_skins works correctly ; @cessna151 : your only problem was the removal of u_inv. If you ask me, I can explain you how to update submodules or commit changes in them.

[2016-01-20 20:58] Lymkwi commented on #66
How are we supposed to do that without fiddling in the engine exactly?

[2016-01-20 21:00] Lymkwi commented on #61
Yes it does. Whenever I push something that big I always check whether or not it works. (the rare cases when I don't check are hotfixes of a few characters that I manage to screw up)

[2016-01-20 23:06] ElementW commented on #66
@LeMagnesium The day/night cycle speed can be dynamically controlled through a server setting. An easy solution is to periodically check for time of day, and if within the night, set that timescale higher.

[2016-01-20 23:07] Ombridride opened #68 "server crash"
[code]

[2016-01-20 23:17] Ombridride opened #69 "Workbench bug rereport"
![](http://i.imgur.com/c2p23nO.png)

[2016-01-20 23:23] aerozoic commented on #56
Is it possible to have a command to check if somebody has ignored you or show a list of people that ignored you; either way? And/or make it so nobody can ignore a moderator?  :large_orange_diamond:

[2016-01-20 23:42] aerozoic commented on #62
I only receive reports to my inbox if i am actually in game. Reports that are sent when i'm offline do not go to my inbox. Is this the way it was intended?

[2016-01-21 00:51] rredesigns commented on #56
cessna, you ask too much. Plus, there's no need for that. |¬¬'|

[2016-01-21 00:55] rredesigns commented on #66
Sounds like unnecessary work, for modders and for the server. Is much easier to just allow us to set time.

[2016-01-21 08:17] BetterToAutomateTheWorld commented on #66
Reduce the night duration is a great idea, it's not heavy, and its integration to the SB server is easy (already done, some topics discuss about it in the forum)

[2016-01-21 08:19] BetterToAutomateTheWorld commented on #56
When you will send a /msg /mail to a player that ignore you, you will see a message which told you this player ignore you, in my point of view it's enough, but maybe @LeMagnesium will be interested in adding this feature, wait for his answer :)

[2016-01-21 08:23] BetterToAutomateTheWorld commented on #62
I will prefer you receive the inbox when you're online and offline, it's more interesting like this.

I checked my inbox yesterday, 104 messages, many spams, less than 10 messages was really reports...

We **REALLY** need the countdown to be re-inplemented ! @gravgun

[2016-01-21 15:14] Ombridride opened #70 "Max button bugs"
[code]

[2016-01-21 15:15] Ombridride opened #71 "u_skin bug"
```ihatedrift : AND ALSO THIS MORNING WHEN I CAME ON I HAD A GIRL SKIN NOT THE SKIN I USED BEFOR```

Apparently, the skin isn't saved when you disconnect/reconnect ? or it's due to the u_skin multiple updates which erase skins from the list ?

[2016-01-21 15:47] rredesigns commented on #71
No. This was due to the latest changes to the mod. Since the skins has to be renumbered, he just got a different skin with the number of the previous pack. (number was reduced from 15 skins to 8 in last commit)

No bug here. You can close this issue.

[2016-01-21 15:49] rredesigns commented on #70
Max button creates buggy stacks, but that seems not to be the issue.

[2016-01-21 16:35] BetterToAutomateTheWorld commented on #71
Yes, this is what i'm thinking about
Thank you, for the information

[2016-01-21 16:36] #71 closed

[2016-01-21 16:40] Ombridride opened #72 "x_decor bug"
It's maybe a name string problem

The skyblock tools (pickaxe, axe, etc..) can't be enchanted.

don't forgot to comment you lines if you fix it.

Related : @kilbith

[2016-01-21 16:58] kilbith commented on #72
Quels outils as-tu essayé d'enchanter très exactement ?

S'ils ne sont pas supportés, ajoute-les ici : https://github.com/kilbith/xdecor/blob/master/enchanting.lua#L130

N.B. la copie de `xdecor` que tu utilises dans ton jeu est vieille de 22 jours.

[2016-01-21 17:22] aerozoic commented on #72
I don't see any problems. I can enchant tools just fine.

[2016-01-21 18:40] Lymkwi commented on #72
There, it's updated. I'll test the enchant.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/910461344ab4547c0d14cebd1e1ba9fde1ccc7fb

By the way we couldn't fix it on our own, @Ombridride, since it's a submodule of upstream.

[2016-01-21 18:42] Lymkwi commented on #68
Can't fix. We don't even know what crashed other than 'some file or function from builtin'.
EDIT: I personally think this is a falling entity issue. Might investigate.

[2016-01-21 20:22] Lymkwi commented on #70
I'm going to put a limit on the size of produced stacks.

[2016-01-21 21:11] BetterToAutomateTheWorld commented on #68
Yes, double fault builtin, happened often, it's a big problem, the other servers haven't this problem. This problme wasn't here weeks ago (to be verified)

[2016-01-21 21:12] #68 closed

[2016-01-21 21:13] BetterToAutomateTheWorld commented on #72
@cessna151 can you check with ihatedrift and see if he still have the problem ?

@kilbith thank you for the infomation

@LeMagnesium Why did we haven't this mod up to date if it's a submodule of the official repository, it's not normal... ?

[2016-01-21 21:14] #70 closed

[2016-01-21 21:17] Lymkwi commented on #69
Are you talking about xdecor's workbenches? I just updated them.

[2016-01-21 21:22] BetterToAutomateTheWorld commented on #69
Yes, it's related to xdecor, i closed this issue, it should be good now.

[2016-01-21 21:22] #69 closed

[2016-01-22 00:50] aerozoic commented on #62
@Ombridride i know why we get spammed. If you click the report button in inventory and then type a message and click send, nothing appears to happen, the message is still there and there is no notification until you close the inventory. But when nothing happens the natural response is to click the send button again and again and each time the message gets sent again.

[2016-01-22 02:01] cessna151 opened #73 "REDIS is bugged again"
@Ombridride Just like this morning, as soon as i leave and come back, everything i placed is gone. This time i only lost about 5 stacks of cobble. :unamused:

[2016-01-22 07:57] ghost commented on #68
fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/c348e86355a38825534b3ffa9a65a0c6f1ff253b

 it's callback on_dignode https://github.com/minetest/minetest/blob/master/builtin/game/falling.lua#L87

[code]

[2016-01-22 08:14] BetterToAutomateTheWorld commented on #62
Ok, need to solve this point...

[2016-01-22 08:18] BetterToAutomateTheWorld commented on #68
Wow, if it works, it needs to be upstream
(Link : @cornernote)

Thank you @crabman77 !

[2016-01-22 08:22] BetterToAutomateTheWorld commented on #73
I answered you on the IRC "later tell", I will investigate the logs, but it's maybe the daily reboot

[2016-01-22 08:27] cornernote commented on #68
Interesting, this code used to be there but I removed it. I have been assured by core devs that the digger can't dissapear, so I'm confused as to how this fix works. Regardless I'll apply the fix upstream. Thanks!

[2016-01-23 11:26] Lymkwi commented on #56
There. Both points [implemented](https://github.com/MinetestForFun/ignore/commit/22d0e53dfa726158aaefe5344ffa31a3f06a8e4b) :

[2016-01-23 14:31] Lymkwi commented on #72
I've only been aware of xdecor being on Sb, moreover in the form of a submodule, since I tried to update it manually 2 days ago ; so I didn't think of updating it.

[2016-01-23 15:02] aerozoic commented on #73
This happened again last night at about the same time as the night before; approximately 2 hours before the nightly server reboot.

[2016-01-23 15:10] aerozoic commented on #72
ihatedrift says everything is fine now.

[2016-01-23 18:44] #72 closed

[2016-01-23 18:44] BetterToAutomateTheWorld commented on #72
Fixed.

[2016-01-23 18:45] BetterToAutomateTheWorld commented on #73
Daily reboot is at 4:32AM, so it was at ~2:30AM ? (UTC +1)

[2016-01-23 20:32] aerozoic commented on #73
@Ombridride yes that is correct. It also happened again about 30 minutes ago. 9PM (utc +1)

[2016-01-23 21:15] ElementW commented on #73
Bug likely comes from the `mtsatellite` toolkit itself. See https://bitbucket.org/s_l_teichmann/mtsatellite/issues/15/more-than-one-mtsatellite-on-the-same

[2016-01-25 02:30] aerozoic commented on #73
Happened again at about 3AM server time. (30 minutes ago)

[2016-01-25 07:02] cornernote commented on #68
Ok, read the response from @crabman77 properly (last time I was on my phone so just glanced over it).

Yes, falling.lua calls on_dignode without a player, so can cause server to crash.

Upstream skyblock already had this fixed:
https://github.com/cornernote/minetest-skyblock/blob/master/skyblock_levels/skyblock.feats.lua#L186

[2016-01-25 08:09] BetterToAutomateTheWorld commented on #73
@gravgun did you rollback the mtsatellite version ?

[2016-01-25 08:11] BetterToAutomateTheWorld commented on #68
Ok, so we have differences with your repository, it's not a good thing..

We need to planned a rebase for taking your changes

[2016-01-25 10:58] ElementW commented on #73
@Ombridride Yes I did and nothing changed.

[2016-01-25 12:37] BetterToAutomateTheWorld commented on #73
Strange, the problem is only on SkyBlock server...
We miss something

[2016-01-25 16:53] Ombridride opened #74 "Bug with buckets and cauldrons"
Linked to https://github.com/kilbith/xdecor/issues/23#issuecomment-174570292

[2016-01-25 19:56] Lymkwi commented on #68
@cornernote [We've had that for a while too](https://github.com/MinetestForFun/server-minetestforfun-skyblock/blame/master/mods/skyblock_levels/skyblock.feats.lua#L189) :

[2016-01-25 19:58] Lymkwi commented on #74
All of this is based on our overrides of on_use. There are many across the repository. I'll investigate.

[2016-01-25 23:59] cornernote commented on #68
Perhaps the change doesn't require an upstream change?

[2016-01-26 19:04] aerozoic commented on #60
I optimized the preview textures only. If they don't look right let me know. The actual skin textures were already pretty small. I also fixed a strange mark that was on the face of character 8.   :small_orange_diamond:

[2016-01-26 22:03] ghost commented on #60
@cessna151 the outline of the skin is white.
![u_skin](https://cloud.githubusercontent.com/assets/7189389/12596521/9f210b1c-c480-11e5-9988-3d208670f377.png)

[2016-01-27 09:22] ElementW commented on #60
~~@crabman77 That's the same issue as MinetestForFun/server-minetestforfun#360~~

Nope, there's an actual outline. ~~Fixing it.~~

EDIT: just discovered the preview generation script is sh!t. Expected from me, really.

[2016-01-27 17:04] Lymkwi commented on #68
I think it doesn't. If it doesn't happen to you with the basic skyblock modpack and latest stable Minetest then it comes from us.
We don't need the upstream tag (which I just noticed).

[2016-01-28 21:11] aerozoic commented on #73
@Ombridride I suggest disable REDIS and revert back to previous DB method temporarily until the bug can be fixed properly.

[2016-01-28 23:08] aerozoic commented on #63
this is done, closed

[2016-01-28 23:08] #63 closed

[2016-01-28 23:10] aerozoic commented on #60
this is done, closed.

[2016-01-28 23:10] #60 closed

[2016-01-28 23:13] BetterToAutomateTheWorld commented on #73
The latest feature(/fix) we implemanted doesn't work in crontab but work in our script, @gravgun is testing a way to do it with a script launched by the crontab, in test on the HG currently, it will be on all servers soon, just be patient :)

[2016-01-28 23:13] aerozoic commented on #58
This isn't really an issue. If it is then reopen it.

[2016-01-28 23:13] #58 closed

[2016-01-28 23:14] BetterToAutomateTheWorld commented on #63
yes, thank you for your work @cessna151

[2016-01-28 23:16] aerozoic commented on #56
Excellent work @LeMagnesium!

[2016-01-28 23:16] #56 closed

[2016-01-28 23:16] BetterToAutomateTheWorld commented on #74
@LeMagnesium can you check this issue please ?

[2016-01-28 23:18] BetterToAutomateTheWorld commented on #61
Is this issue can be closed ? Have you checked ingame if it works properly ?

[2016-01-28 23:19] BetterToAutomateTheWorld commented on #47
Issue rejected, now travelpoint and /spawn and /home, it's enough.

[2016-01-28 23:19] #47 closed

[2016-01-28 23:19] cessna151 commented on #47
I believe this issue has been fully addressed. If not reopen it.

[2016-01-28 23:20] aerozoic commented on #47
Edit, @Ombridride beat me to it :D

[2016-01-28 23:20] BetterToAutomateTheWorld commented on #62
First, @gravgun can you re-add the countdown lines ?
Second, someone can add a chat message for validate the report sending to moderators/administrators after a player sended a report message ? @gravgun or @LeMagnesium

[2016-01-28 23:23] ElementW commented on #73
@Ombridride "it will be on all servers soon" It already is, I just updated the crontab minutes ago. I guarantee it works.

[2016-01-28 23:26] aerozoic commented on #62
A chat message can't be seen when using the report button from inventory. Also i think a chat message is already a feature.
Edit: Unless you meant add a msg if the countdown hasn't finished. That is needed.

[2016-01-28 23:50] aerozoic commented on #62
If the report message can be deleted from the input box after it is sent, that would be helpful to indicate that it was sent.

[2016-01-29 19:14] Lymkwi commented on #62
I'm gonna do that too then.

[2016-01-29 19:47] Lymkwi commented on #62
There you go.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d1f1a3b8722dce03cec7ef53034d67f4412f587b

[2016-01-29 19:47] #62 closed

[2016-01-29 19:49] Lymkwi commented on #60
I just edited the first comment to tick 'add/make skins', in case someone wonders why it's ticked.

[2016-01-30 12:27] Lymkwi commented on #74
There, just a 'blind' callback not calling other callbacks : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/74908a69e25336a7ab66f9f3da5a6e82f43a20b2

[2016-01-30 12:27] #74 closed

[2016-01-30 14:08] BetterToAutomateTheWorld commented on #74
@cornernote I think it would interest you

Thank you for the fix Mg

[2016-02-02 19:49] Lymkwi commented on #61
This should be closed, now it works.

[2016-02-02 21:22] BetterToAutomateTheWorld commented on #61
Seems to work, but I haven't any answers, I closed the issue, do not hesitate to reopen if problem subsists...

Thank you @LeMagnesium

[2016-02-02 21:22] #61 closed

[2016-02-02 21:25] BetterToAutomateTheWorld commented on #65
I closed the issue because of my last answer.

[2016-02-02 21:25] #65 closed

[2016-02-02 21:25] BetterToAutomateTheWorld commented on #64
The clock item won't be added, we will prefer a shorter night system based.

I closed this issue

[2016-02-02 21:25] #64 closed

[2016-02-02 21:26] BetterToAutomateTheWorld commented on #66
The time privilege item won't be given, we will prefer a shorter night system based.

I closed this issue.

[2016-02-02 21:26] #66 closed

[2016-02-02 21:29] Ombridride opened #75 "Shorter night compared to day"
Already talked here https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/66 and here https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/64

The idea is to make the night shorter, if we want to code it, we just need to add time on the nights times.

Actually it's 50% day & 50% night, first we will try 33% night & 66% day.

[2016-02-02 21:33] BetterToAutomateTheWorld commented on #73
REDIS backend isn't bugged anymore :)

For proof, the last freeze was on 29/01/2015 :
![last_freeze_redis](http://i.imgur.com/p8AEiDW.png)

I closed the issue.

[2016-02-02 21:34] #73 closed

[2016-02-03 03:30] cornernote commented on #74
Thanks for the fix @LeMagnesium, have applied it here:
https://github.com/cornernote/minetest-skyblock/commit/73d5e150fe984c1c066c2d60fbbf26e5df6588e2

[2016-02-03 13:53] ObaniGemini commented on #65
I think I can confirm that. They're is more than one minute between each quest done. Players should learn to play...

[2016-02-03 17:17] Lymkwi commented on #75
There you go.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ff267d62ee729bfd0ea6d50ea77215b6f5121e90

[2016-02-03 18:42] BetterToAutomateTheWorld commented on #75
Ok perfect, good implementation ! :+1:

Before closed this issue, can you :
- [x] Add this mod in **submodule**
- [X] Add it also on the **Creative** and **Classic** servers => https://github.com/MinetestForFun/server-minetestforfun/commit/2ab52cc037ad64b0153ed985cc6b6696a9cdb70a https://github.com/MinetestForFun/server-minetestforfun-creative/commit/fe63e264c03ba5442961c91847cc058cff7f8157
- [X]

[2016-02-03 18:50] ObaniGemini commented on #75
Why should we add this mod to creative ? There are not many players on creative so it's not a problem to  pass the night

[2016-02-03 19:17] Lymkwi commented on #75
I could see why you would want to add it on creative even though, as @ObaniGemini pointed out, the number of players there usually is low enough to ask everyone to sleep ; but okay, why not.
But then, why classic? Do you want to increase the night ratio? Is either one of day and night more dangerous?

[2016-02-03 20:46] BetterToAutomateTheWorld commented on #75
If it's on classic else it's on creative.

In this purpose, we will need a merge from classic to creative soon because the creative server miss (sadly) some features we don't merge systematically when we work on classic => will be a future task

It will be on classic because tweak the night/day ratio should be interesting for events/seasons/or other goals, and because the mod is easily disable if

[2016-02-04 07:29] ElementW commented on #65
@ObaniGemini Players should mostly learn that Minetest is completely unplayable on a tablet.

Actually, it's also kind of unplayable (CPU hog) on PC too...

[2016-02-04 08:32] BetterToAutomateTheWorld commented on #65
+10 @gravgun

[2016-02-04 14:39] Ombridride opened #76 "[xdecor] mod update"
Xdecor update (bugfix) : https://forum.minetest.net/viewtopic.php?f=11&t=12534&view=unread#p206418

Do not forget the creative server

[2016-02-04 16:55] aerozoic commented on #65
@gravgun? i thought it played quite well on my 10 year old laptop PC before my graphics gave up.

[2016-02-04 18:59] #76 closed

[2016-02-04 22:22] ElementW commented on #65
@cessna151 The weird thing about it is that its CPU consumption, as well as graphics load, increases exponentially with CPU power. I.e. it **really** runs better on old computers than on recent ones.

[2016-02-04 22:39] aerozoic commented on #65
LOL, figures.  :small_orange_diamond:

[2016-02-05 10:35] BetterToAutomateTheWorld commented on #75
Applied on the Skyblock server, need reviews/tests if it works or not :)

[2016-02-05 10:35] BetterToAutomateTheWorld commented on #59
@gravgun Please, can you check the update ?

[2016-02-05 10:36] BetterToAutomateTheWorld commented on #32
@gravgun when do you planned to finish this level ?
Maybe you need help ?
Don't hesitate to ask, we can help you, you're not alone ! :)

[2016-02-05 17:30] Lymkwi commented on #59
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d2bfa15afa3fdeff2d2375047710f1636d20aa7c

[2016-02-05 21:57] Ombridride commented on #59
I don't see any commits, from where did you update the submodule ?
https://github.com/MinetestForFun/protector/commits/master

[2016-02-05 22:14] Lymkwi commented on #59
I rebased the current branch from the upstream repository's master branch. If you look closely there is a break in time between gravgun's first commit and the previous one.

[2016-02-06 10:29] BetterToAutomateTheWorld commented on #59
I see it too late, i removed my comment after that :p

[2016-02-06 16:04] Lymkwi commented on #75
https://github.com/MinetestForFun/server-minetestforfun/commit/2ab52cc037ad64b0153ed985cc6b6696a9cdb70a
https://github.com/MinetestForFun/server-minetestforfun-creative/commit/fe63e264c03ba5442961c91847cc058cff7f8157
I think you can now check if everything is okay and close the issue.

[2016-02-07 10:24] Lymkwi commented on #59
I assume I can close this now. If someones has a complain they can reopen the issue.

[2016-02-07 10:24] #59 closed

[2016-02-12 18:12] Ombridride opened #77 "Furnace bugged now"
Since the last commit of the "furnace" mod for the cooking when players aren't near they furnace, we encounter a big bug :
- furnace cook 30 per 30 nodes each "tick"

@ElementW, can you fix your commit please ?

[2016-02-12 21:32] cessna151 opened #78 "Protector bug"
This only applies to the normal protector logo, not the blocks or the 3x protectors, just the normal protector logos(protector:protect2).

Logos currently **cannot** be removed. When attempting to dig them an "Unknown Object" texture appears next to it and the logo remains.

I copied this error from the server log right after i found this bug:
2016-02-12 21:41:41: ERROR[ServerThread]: LuaEntity na

[2016-02-12 21:55] ElementW commented on #77
Ayy, reverting. 490420b

See why I'm pissed? Even a fix commit is dead bad. People never learn discrete computation is the bane of anything that can be paused.

31db4ca542b727374ef30580f65a4d5e1a8285aa introduces sofar's attempt.

[2016-02-12 21:55] #77 closed

[2016-02-12 22:49] BetterToAutomateTheWorld commented on #78
@ElementW can you fix this issue please ?

[2016-02-12 22:51] BetterToAutomateTheWorld commented on #77
Ok, thank you, i agree with your reverting ;p

The best thing to do next to this revert is to merge & reboot the server, can you do it please ?

[2016-02-12 23:06] aerozoic commented on #77
I'm available right now for testing. @Ombridride If you go ahead and do it, i'll test.

[2016-02-12 23:47] cessna151 opened #79 "recent Xdecor update regarding mese"
I just noticed mese blocks/lamps can no longer be cut with the worktable and all mese block/lamp nodes created with the worktable (e.g. microslabs/nanoslabs/cubes etc...) and placed on the map are now unknown node textures. This is a terrible update in my opinion. I'd like to see this update reversed.

[2016-02-13 13:44] ElementW commented on #78
Tell that to Mr. Somebody who rebased my work on commits fixing things I've already fixed.

Also, you'll notice I can't fix anything any more. Farewell.

[2016-02-13 15:45] aerozoic commented on #32
@ElementW Even though i'm not a coder, i do understand your frustration and i just want to thank you for all the help you've given me personally the last few months.

I do have one final request, if you haven't already, is it possible for you post your work on the levels somehow so it can be finished by somebody else?  :small_orange_diamond:

[2016-02-13 16:45] Lymkwi commented on #79
If we modify xdecor then we have to fork it.

[2016-02-13 16:45] ElementW commented on #32
@cessna151 I'd have liked to but due to _some fuckery_ in the git repo (namely with xdecor references being wrong thanks to a _certain somebody not checking his references_), I've done a complete wipe of my working directory, wiping the, so far, 2 textures I had done and not commited. Otherwise all the initial work I have done and commited is already there, see [skyblock/nodes](https://github.com/

[2016-02-13 18:55] #79 closed

[2016-02-13 20:33] aerozoic commented on #79
@LeMagnesium i get the following error when trying to update the xdecor submodule:
fatal: reference is not a tree: f9e52c0ca5dc3af357dea3bcdc46f8a1d56c2ac1
Unable to checkout 'f9e52c0ca5dc3af357dea3bcdc46f8a1d56c2ac1' in submodule path 'mods/xdecor'

[2016-02-13 23:01] cessna151 opened #80 "Momentary server freeze on new player join."
I noticed today several times when a new player joins, the server will freeze for 5-10 seconds and it's not lag, i checked :smile:  @LeMagnesium it was suggested by @Ombridride that this might be due to your code checking for unprotected spawn points.  :small_orange_diamond:

[2016-02-14 01:11] aerozoic commented on #79
The .gitmodules file still points to kilbith's repo. Is that the problem?

[2016-02-14 12:42] Lymkwi commented on #79
It might be, yes. Submodules work in a weird fashion. Trying to change the .gitmodules file could fix the issue.

[2016-02-14 20:42] Lymkwi commented on #80
This lag is most likely due to the server cycling through available spawn positions and checking the vicinity for both protection areas and nodes other than air. Sadly, this process takes long, but needs to be done entirely in order to protect already existing buildings and protected areas. This commit adds the code responsible for this : https://github.com/MinetestForFun/server-minetestforfun-sky

[2016-02-14 20:48] Lymkwi commented on #32
I have not mastered the art of submodule manipulation yet...
Also, thanks for pushing your work, I will try to continue what you started based from those notes.

[2016-02-15 10:06] BetterToAutomateTheWorld commented on #80
Yes, I think me can't solve it...

You can close the issue @LeMagnesium

[2016-02-15 10:55] #80 closed

[2016-02-15 11:04] Lymkwi commented on #78
I get it I messed up somewhere. Rebasing something you haven't coded yourself is not that easy. (Also I showed you a diff before committing)
And finally, this seems to be fixing the issue : https://github.com/MinetestForFun/protector/commit/35b7df3d1a6cc7e17c9c0a766da67ef71e891310. So still thanks to @ElementW for fixing my sh*t.

[2016-02-15 11:06] #78 closed

[2016-02-17 14:55] Ombridride opened #81 "Server crash"
The server was freezed/offline from 2016-02-16 18:29:16 to 2016-02-17 04:30:00

[code]

No **useful** logs ! Maybe a loop ? Please double-check your latest commits :)

[2016-02-20 00:15] aerozoic commented on #81
Again today at about the same time.

[2016-02-20 13:56] aerozoic commented on #81
Went down again almost 2 hours ago.

[2016-02-20 14:48] BetterToAutomateTheWorld commented on #81
@LeMagnesium seems to be freezes

[2016-02-20 15:23] Lymkwi commented on #81
@Ombridride, @crabman77 and I have figured out why, he is about to push a fix.

[2016-02-20 16:03] ghost commented on #81
maybe fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/11affb64ef40f687e2378eae1cb632d8b07a592f

[2016-02-21 22:24] cessna151 opened #82 "[xdecor] worktable nano slab"
Several, but not all, blocks in the worktable shows an unknown item for the nano slab.

Edit: tested so far... Obsidian, Runestone, Steel block, Hard Clay, and Stone all produce unknown item for nano slab. Brick, Mese lamp, and Desert stone brick work normal.

[2016-02-21 22:38] cessna151 opened #83 "Furnace fast cooks"
The furnace cooks fast, not instant, but much faster than normal.

[2016-02-21 22:43] BetterToAutomateTheWorld commented on #83
Please, someone can check our latest furnaces changes and point out the bugged lines ? we need to fix it as soon as possible ...
( @crabman77 @LeMagnesium )

[2016-02-21 22:47] BetterToAutomateTheWorld commented on #82
Thank you for the report.

We need to investigate why this bug occurred...

As always with the well done [xdecor] mod, maybe @kilbith can give you his lights ?

[2016-02-21 22:49] kilbith commented on #82
No idea, everything is fine on my side after checking.

[2016-02-21 23:41] cessna151 opened #84 "Doors ignore protection"
Doors can be placed in other's protected areas. I tested this with japanese doors and glass doors.

[2016-02-23 01:23] aerozoic commented on #75
According to the time stamps in the server log, day lasts 19 minutes and night lasts 13. That's a 60/40 split so it's working.

[2016-02-23 02:11] cessna151 opened #85 "[xdecor] craft guide item"
When using the craft guide item (made with a book and blue dye) if you press the "X" (reset) button for the search input, the window flashes to the Inbox window and all messages are deleted.

[2016-02-23 02:56] cessna151 opened #86 "[xdecor] Cauldron"
I can put water in and boil it but i can't put food in it.

EDIT: No response after dropping food in it.

[2016-02-23 03:10] cessna151 opened #87 "[report] bugs"
When i use the report button i get this error: "2016-02-22 22:00:04: ERROR[main]: WARNING: invalid use of label without a size[] element"

Also i do not get reports from other players regardless if i'm online or offline.

[2016-02-23 08:24] BetterToAutomateTheWorld commented on #75
Are you sure it's 60/40 ? The actual time stamps should be 66/33

Minetest.conf configuration :

[code]

[2016-02-23 10:32] ObaniGemini commented on #85
There are two craft guides actually if I got it well...
So maybe should we remove Xdecor's one ? or fix it and remove the other one ?

[2016-02-23 16:55] Lymkwi commented on #85
If the window flashes then something went wrong. I have no clue how you could bind a key press to a function in Minetest's API but if it's triggered by pressing X then the engine might be partially responsible.
EDIT: Lucky you, there is an update of xdecor's craft guide.

[2016-02-23 17:00] Lymkwi commented on #83
The mechanism for furnaces was updated, I think. It uses NodeTimers now. (more accurate, presumably, and embedded inside each node)

[2016-02-23 17:01] aerozoic commented on #75
#### Fun with spreadsheets...

From the Skyblock log...

| TIME STAMP |  | LENGTH |  | Average Day |
| :-: | :-: | :-: | :-: | :-: |
| 13:01:35 |  | 0:18:55 |  | 0:18:49 |
| 13:20:30 |  | 0:12:53 |  |  |
| 13:33:23 |  | 0:18:58 |  | **Average Night** |
| 13:52:21 |  | 0:13:32 |  | 0:13:17 |
| 14:05:53 |  | 0:18:15 |  |  |
| 14:24:08 |  | 0:13:33 |  | **Average day/night Cycle** |
| 14:37:41 |  | 0

[2016-02-23 17:04] ObaniGemini commented on #85
@LeMagnesium : https://github.com/minetest/minetest/pull/2445 ...

[2016-02-23 17:27] kilbith commented on #85
Il parle du bouton de formspec "X", pas la touche X du clavier.

Y'avait un conflit entre les 2 mods. C'est ma faute, j'ai réparé ça : https://github.com/kilbith/xdecor/commit/c804c26cd9565906e27ae697a3eede46f481b90f

[2016-02-23 21:43] BetterToAutomateTheWorld commented on #83
You need to be sure, can you link us a piece of code that prove what you figured out ?
If the cooking time is a little faster, it's not a problem in my point of view (it's a building server after all)

If the cooking time is instant, it's a bug yes, but it's not the case, didn't it ?

[2016-02-23 21:47] BetterToAutomateTheWorld commented on #75
Curiously the timestanp isn't linear and didn't seems to be equal to the "minetest.conf" values
@LeMagnesium can you explain us this defect ?

[2016-02-23 21:51] BetterToAutomateTheWorld commented on #85
Ah, bien vu @kilbith !
Merci pour le fix, on va le merger ASAP

[2016-02-23 21:51] Lymkwi commented on #75
Basic inacurracy of the engine and my loop. I cannot have a loop running once every second, it would be insane. I could shorten the interval though.

[2016-02-23 23:02] aerozoic commented on #83
I just timed it... 15 seconds to cook a 99 stack of dirt.

[2016-02-23 23:05] BetterToAutomateTheWorld commented on #83
Wow, it's really fast, too fast ...

Before, the dirt was cooking in 2sec, so now in less than 0,2sec, this is not great, we need to fix it

Thank you for the details

[2016-02-23 23:07] BetterToAutomateTheWorld commented on #75
Ok, thank you for the additional informations

No need to shorten the interval, it's great like this.

I closed the issue, it's done. Good job !

[2016-02-23 23:07] #75 closed

[2016-02-24 00:08] aerozoic commented on #86
Further info... Testing locally with an upstream copy of xdecor in singleplayer mode, i discovered how to correctly use the cauldron but i can not make it work on skyblock. When i drop the food in nothing happens.

[2016-02-24 09:52] BetterToAutomateTheWorld commented on #87
@LeMagnesium Can you check it ?
@cessna151 do you have **kick** and **ban** privilege ?

[2016-02-24 09:53] BetterToAutomateTheWorld commented on #81
It seems to be over, thank you @crabman77

[2016-02-24 09:53] #81 closed

[2016-02-24 09:56] BetterToAutomateTheWorld commented on #84
New Doors API/protector problem, need to upstream this to :
- @tenplus1 (protector)
- @sofar & @paramat (new doors API)

[2016-02-24 10:55] BetterToAutomateTheWorld commented on #32
We need someone to finish the @ElementW work/ideas, this level is unfinished since a too long time.
We will speak about it on IRC as soon as possible

[2016-02-24 12:34] Lymkwi commented on #84
Japanese doors belong to xdecor as far as I remember, and the update I did on doors yesterday should have introduced a protection check.

[2016-02-24 12:54] aerozoic commented on #87
Confirmed...

[2016-02-24 12:59] Lymkwi commented on #83
Well [this](https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/master/mods/default/furnace.lua#L102) and [that](https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/master/mods/default/furnace.lua#L274) will clearly explain why I think it's now in a node timer.

As far as I can read the code, for the amount of seconds elapsed inbetween two calls to the node_time

[2016-02-24 17:26] aerozoic commented on #85
Even after the update this issue still persists. It still does the same thing.

[2016-02-24 17:40] ghost commented on #87
fix  "invalid use of label without a size[] element" -> https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/dee5b706161fef608cb8c7f67639fbe7b5a4b631

[2016-02-24 18:20] BetterToAutomateTheWorld commented on #85
Yes, I tested it, the bug is still here

[2016-02-24 18:58] kilbith commented on #85
En fait il manque une petite vérification dans votre mod `email`.

Les deux mods ont `fields.clear` en commun (provoquant un conflit), ce qui veut dire que vous devez vérifier que c'est bien le nom de formspec `email:inbox` d'où les champs doivent être traités, et pas les formspecs extérieurs.

Essayez d'ajouter le code suivant au-dessus de [cette ligne](https://github.com/MinetestForFun/server-mi

[2016-02-25 10:02] Lymkwi commented on #83
The issue was somehow fixed by updating to Minetest Game's current furnace code... should we keep this open?

[2016-02-25 10:25] Lymkwi commented on #86
(I just love how some mods decide to rebel and have bugs all of a sudden)
I'm just curious, how did you manage to boil the water considering there isn't a single item which itemstring contains "fire" in skyblock?

[2016-02-25 10:31] Lymkwi commented on #85
By @crabman77 : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/daa2c56e526e65477c7076d6cc5e6e5846b67649

[2016-02-25 10:42] ObaniGemini commented on #83
@LeMagnesium : it's because there is not the "working when chunk unloaded" feature. The commit I made was from a PR using ABMs and the furnace converted to Node Timers. We could maybe correct it by taking a look at this https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/a7ad78136f5ecb515b8deef15d12bb007261764f

[2016-02-25 12:56] BetterToAutomateTheWorld commented on #83
This issue is fixed since this commit https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/622c13e20f239cdecfc9fcfb887645bc8c08cc15

Sorry we didn't update this issue after the commit

I closed the issue.

[2016-02-25 12:57] #83 closed

[2016-02-25 12:58] BetterToAutomateTheWorld commented on #85
Someone can try the fix ? I just merged the Skyblock server

[2016-02-25 13:03] BetterToAutomateTheWorld commented on #86
Hi,

Thanks to @LeMagnesium !

Cauldrons debugged since this commit https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/63b48f9bb06e5cc2c840df28ac315c7cffe013bf

I added a random message https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/5849331fec963043b514d883fac8197e0f984b53

I closed the issue.

[2016-02-25 14:14] ghost commented on #85
testé en local, en commentant le fix pour voir et c'est ok. Sans le fix on a le formspec des email qui s'affiche à la place du craft guide.

[2016-02-25 14:40] aerozoic commented on #86
I just used flint and steel to make a fire under it to make the water boil.

[2016-02-25 14:49] BetterToAutomateTheWorld commented on #86
Ok, so the fakefire from the flint&steel mod have the "fire" group ?
@LeMagnesium can you confirm ?

if it's yes, someone can fix the random message ?

[2016-02-25 14:49] BetterToAutomateTheWorld commented on #85
Parfait, je ferme.

[2016-02-25 14:49] #85 closed

[2016-02-25 16:08] cessna151 opened #88 "Strange chat message"
The message appeared today at about 16:40 server time. I checked to make sure, there was no player with that name.

![msg](https://cloud.githubusercontent.com/assets/15715378/13325372/8a4aa946-dbaf-11e5-9742-88444fe1c01d.PNG)

[2016-02-25 17:39] aerozoic commented on #86
Assuming the server was rebooted, the cauldron still won't respond to food dropped in it. I've confirmed this testing locally as well.

[2016-02-26 14:11] aerozoic commented on #63
@LeMagnesium actually did the work :smile:
:small_orange_diamond:

[2016-02-26 16:49] BetterToAutomateTheWorld commented on #88
Surely a client problem, it seems your client try to read a non iso(US type character, like éôöië etc...
maybe a sign with this bugged character into it... didn't know much on this bugline...

maybe someone else can give his opinion ?

[2016-02-26 17:57] Lymkwi commented on #88
It's any string that your current encoding couldn't decode. There's really nothing to do here since it's purely the engine's fault (more precisely of its way to encore chat messages).

[2016-02-26 17:59] ObaniGemini commented on #88
That should be solved in the next version BTW
https://github.com/minetest/minetest/pull/2885

[2016-02-26 18:01] Lymkwi commented on #88
This PR fell into oblivion about 8 months ago, there's simply no way it will be merged for the next version.

[2016-02-26 19:26] BetterToAutomateTheWorld commented on #88
Well, closed the issue because it's client related, and no server related, we can't do anything...

[2016-02-26 19:26] #88 closed

[2016-02-26 21:24] ObaniGemini commented on #88
@LeMagnesium : est31 told me he wanted UTF8 based chat implemented for the next release.

[2016-02-27 17:36] BetterToAutomateTheWorld commented on #82
**other** unknow nodes :
![prison doors](http://i.imgur.com/t5U31lG.jpg)

[2016-02-27 17:45] kilbith commented on #82
Oui ça c'est une ancienne porte de prison, pas un nanoslab.

Assure-toi que les alias que j'ai récemment ajouté sont bien mis en oeuvre.

[2016-02-27 22:34] Ombridride opened #89 "Server crash"
[code]

[code]

[code]

[code]

[2016-02-28 18:14] Lymkwi commented on #89
There is no precise source for the crash. We only know the callback and the mod in which is supposedly crashed. Actually, the only `on_place` callbacks implemented in `default` are uses of `minetest.rotate_node` and plant growth callbacks. Unless `minetest.rotate_node` is crashing the server there is no way default is responsible.

[2016-02-28 19:36] Lymkwi commented on #86
You need :
- To place a torch under the cauldron and wait until it has boiling water in it
- Throw in 2 foods (apple, bread, etc)

The code updated properly on the server, I just checked it, it works.

[2016-02-28 21:53] aerozoic commented on #86
Well i tried again and still nothing so i tried it with two apples and it worked. So it doesn't work with the farming crops.

[2016-02-28 22:19] BetterToAutomateTheWorld commented on #86
I tried it and it works with 2 apples

Small guide :
1) put your cauldron
2) put (with a water bucket) water inside the cauldron
3) put a torch under the cauldron (OR put a fire in the y-2 node, with the "flint and steel" item)
4) wait some seconds, the water will boil
5) drop 2 apple (for example) inside the boiling water
6) the water will become in an another color (random color)
7) take your "b

[2016-02-29 11:56] ObaniGemini commented on #86
Intuitive :+1:

[2016-02-29 15:38] aerozoic commented on #86
Sorry i wasn't clear in my last post. Yes it works with apples. However, it does not work with any of the farming crops (green beans, tomatos, patatos, rhubarb, grapes, etc...)

[2016-02-29 18:01] BetterToAutomateTheWorld commented on #86
Maybe it's better to inform @kilbith and let him add support for the farming/farming_redo mod ?
Or we can do it and upstream the code

[2016-02-29 18:36] kilbith commented on #86
Le chaudron ne procède pas par support de mods spécifiques, mais par noms d'ingrédients (approche plus flexible).

C'est très simple d'ajouter plus d'ingrédients ici : https://github.com/kilbith/xdecor/blob/master/cooking.lua#L1

Voilà, à vous de voir ça.

[2016-02-29 18:58] BetterToAutomateTheWorld commented on #86
Ne serait-il pas mieux d'avoir une liste de filtre plus grande de base sur ton mod ? (qui permettrait de supporter pleinement farming/farming_redo, utilisé d'office dans un grand nombre de serveurs)

[2016-02-29 19:07] kilbith commented on #86
J'ai bien peur que cette liste soit vraiment longue si j'ajoutais tous les noms d'ingrédients possibles...

[2016-02-29 19:10] Ombridride opened #90 "Updated [protector] mod"
https://github.com/tenplus1/protector/commits/master

[2016-02-29 19:18] Ombridride opened #91 "Update [xdecor] mod"
https://forum.minetest.net/viewtopic.php?f=11&t=12534&view=unread#p208696
https://forum.minetest.net/viewtopic.php?f=11&t=12534&view=unread#p208749

https://github.com/kilbith/xdecor/commits/master

[2016-02-29 19:20] Lymkwi commented on #82
Il s'agissait en fait d'un problème de mise à jour de submodules. Tout est rentré dans l'ordre

[2016-02-29 19:22] Lymkwi commented on #86
Se pourrait-il qu'il y ait un group food commun aux nourritures qui permettrait de les filtrer? Si non, ça pourrait être ajouté.

[2016-02-29 19:26] kilbith commented on #86
Non, je crois que j'ai une meilleure idée : vérifier si les items dans le chaudron ont `minetest.item_eat` dans leurs définitions.

[2016-02-29 19:29] Lymkwi commented on #86
Oui, cela éviterait d'avoir à unifier les items avec un group. Ça ne doit pas être très compliqué. Le seul problème, c'est que la fonction peut-être redéfinie au démarrage, et si par accident des items ont une version antérieure à la définition, ils ne seront pas comptés.

[2016-02-29 19:36] Lymkwi commented on #91
I hope it updates correctly.

[2016-02-29 19:36] #91 closed

[2016-02-29 19:56] Lymkwi commented on #90
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/15360ab49e3ded1035bb9f5a6e9d6f767bdd4b3c

[2016-02-29 19:56] #90 closed

[2016-02-29 20:14] kilbith commented on #86
Bon, je laisse tomber mon idée. J'ai aucun moyen de convertir du code source en string pour vérifier si c'est bien cette fonction qui est appelée (mis à part avec un hack bien moche).

[2016-02-29 21:15] Ombridride opened #92 "Doors problem"
Le code de @crabman77 qui faisait que les portes s'ouvraient et ce fermaient par deux a été enlevé et ce n'est donc plus le cas en jeux actuellement, peut-on y ré-ajouter ?

[2016-02-29 21:20] BetterToAutomateTheWorld commented on #82
Prison doors aren't a problem anymore
![prison_good](http://i.imgur.com/cLYB506.png)

But stone rune slab still be unknow...
![unknow_slab_stone_rune](http://i.imgur.com/UXYxrBP.png)

[2016-02-29 21:24] kilbith commented on #82
Vraiment étrange, j'ai pourtant bien ce nanoslab de mon côté :

![screenshot_20160229_222139](https://cloud.githubusercontent.com/assets/7883281/13409397/28a15bc2-df33-11e5-8f30-ecf936a853c1.png)

[2016-03-01 13:40] ghost commented on #92
Non il n'a jamais été mis, ce sont seulement les portes en 3 nodes qui ont la double ouverture.
Et avec le nouveau système il va falloir le revoir.

[2016-03-01 13:49] BetterToAutomateTheWorld commented on #92
Autant pour moi, je pensais que c'était les portes en 2x1 aussi, je laisse le ticket ouvert pour l'ajout de l'ouverture automatique des portes collées en 2x1 et 3x1 avec la nouvelle API donc

[2016-03-01 14:24] ghost commented on #92
c'est un système de mesh maintenant, comme les double chest, il y a qu'un node qui interagit, ça va être plus simple car une seule pos à gérer, il faut juste rajouter le code qui check l'orientation pour trouver la 2ème porte et déclencher le callback.

Pour les portes en 3 nodes  il faut refaire les textures puis voir avec @farfadet46 si il peut nous faire un mesh de porte en 3 nodes puis rajoute

[2016-03-01 17:01] farfadet46 commented on #92
oui je peut vous faire le/s mesh/s de porte sans problème ; a vous de me dire ce que vous voulez comme niveau de détails ;)

[2016-03-01 17:17] ObaniGemini commented on #92
@farfadet46 : un rectangle de 3 sur 1 avec 4 carrés pour les fenêtres à l'intérieur ^^

[2016-03-01 17:30] ghost commented on #92
@Farfadet tu regardes le mesh dans le mod doors et tu ajoute un node, je crois que c'est juste un rectangle de l’épaisseur de la porte et ce sont les textures qui font les détails.

[2016-03-01 19:23] farfadet46 commented on #92
ok je vais voir ça

@crabman77 peut tu essayer avec ça du coup ?
https://up1.ca/#VvctwBqohEguwfg3Ho3qFA

[2016-03-01 19:57] Lymkwi commented on #86
C'est comme ça que l'on résout les problèmes ici dans ce cas... Je vais voir si je peux faire quelque chose.

[2016-03-01 23:52] kilbith commented on #86
Bon j'ai fait ça pour savoir si un item a `minetest.item_eat` dans sa définition : https://github.com/kilbith/xdecor/commit/079e07a4ba450c3b4982167ba453d163c0676b5c

Mais comme je l'ai dit c'est un hack assez moche (conversion de bytecode en string) et on peut pas compter à 100% dessus...

[2016-03-02 20:40] Lymkwi commented on #86
Ça semble bon. On va le merger et voir ici sur le serveur ce qu'il en est.

[2016-03-03 14:43] Ombridride opened #93 "[xdecor] mod crashed the server"
http://zerobin.qbuissondebon.info/?5e15078492bee6c3#jbcyk6UxrpB5wg+lYU73qAHyqaTj5pBEmiQr6X36hLU=

[code]

[2016-03-03 15:17] aerozoic commented on #86
Now the torch causes the water to boil only for a couple seconds then it stops and repeats. Also using fire under cauldron boils water normally but it will not cook any food, even apples.

[2016-03-03 18:01] Lymkwi commented on #93
Fixed by @ElementW (https://github.com/MinetestForFun/xdecor/commit/47910a782b65344e7cdd2cac57fb7cfcc5d25ea9)

[2016-03-03 18:01] #93 closed

[2016-03-03 18:04] Lymkwi commented on #86
The cauldron's triggers have been modified and moved many times and during one update I forgot one of them, so if the server is set to that version of xdecor it is constantly turning the cauldron to boil and back to idle.

[2016-03-04 02:51] aerozoic commented on #89
Here's another one....

And after the crash...

[2016-03-04 09:48] ObaniGemini commented on #89
A stone pressure plate ? Isn't it a mesecons feature ?

[2016-03-04 11:55] BetterToAutomateTheWorld commented on #89
@ObaniGemini No it's a new xdecor feature.

Surely linked to https://github.com/kilbith/xdecor/issues/34

[2016-03-04 15:19] ObaniGemini commented on #89
https://github.com/kilbith/xdecor/commit/68a5559a291e50ed4998625cc7fca91105f9780d

[2016-03-04 20:40] Lymkwi commented on #86
All right, this will solve everything : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/b99a2b4f21d3b9c278c2d699f6f6e3aa834bf329

[2016-03-04 20:42] Lymkwi commented on #89
This includes the latest commits from xdecor : https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/1251a8acbe530d5b9d6a2b8a7485af336e5c85a1

[2016-03-04 20:45] Lymkwi commented on #89
All the other crashs are unlogical according to the code in default.

[2016-03-05 12:43] BetterToAutomateTheWorld commented on #89
Ok, then I closed this issue, thank you for the subtree/updates of xdecor

[2016-03-05 12:44] BetterToAutomateTheWorld commented on #86
I hope, im waiting the next merge (surely this week-end) to confirm this and close the issue

[2016-03-05 13:06] Lymkwi commented on #89
I don't think the issue is completely solved. We still need to figure out what those crashs in default are about. @crabman77 has been investigating the nature of those errors, I'm not sure if he has committed anything yet.

[2016-03-05 13:36] Lymkwi commented on #84
After running tests on local it's impossible to place any of the available doors in an area you do not have access to. I also checked on chlorine, with the same outcome.

[2016-03-05 19:32] sofar commented on #84
The problem was fixed upstream in

https://github.com/minetest/minetest_game/commit/00a0d9a5d4bda9a3a33d1992218c3e8094559730

[2016-03-05 20:56] aerozoic commented on #87
Was this fixed?

[2016-03-05 21:00] aerozoic commented on #84
Confirmed on SB server itself, it's fixed.

[2016-03-05 21:00] #84 closed

[2016-03-06 14:17] aerozoic commented on #87
@Ombridride Will you please clarify, do you want me to get reports when i'm offline?

[2016-03-06 14:43] BetterToAutomateTheWorld commented on #87
Yes i want you to have this report when you're online/offline. You're a moderator it's normal

We need to debug it.

[2016-03-06 17:26] BetterToAutomateTheWorld commented on #89
Thank you @cessna151 we will investigate

[2016-03-07 22:24] aerozoic commented on #86
I still can't get it to cook anything.

[2016-03-07 22:53] cessna151 opened #94 "[xdecor] mese lamp nodes"
Mese lamp nodes (nano slabs, micro slabs, etc...) from the worktable don't emit light.

[2016-03-08 07:40] BetterToAutomateTheWorld commented on #94
Did you try to left/right "click" it ?

[2016-03-08 15:57] ghost commented on #89
trouvé.
les plaques de pressions qui ne sont toujours pas codées comme il le faut.
#CMaFaute, j'ai mergé le fix en me focalisant sur une erreur dans le code du fix. #GPasVuYenAvaitUneAutre :)

[code]

xdecor ne supporte pas le mod protecteur et ses portes :(

crash xdecor fixé https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ae6fdf0b1c1c5cdfbb129fd3da14ad99145be52c

[2016-03-08 19:33] BetterToAutomateTheWorld commented on #89
@crabman77 tu peux appliquer sur creative aussi stp ?
@kilbith ça devrait t'intéresser ^

[2016-03-08 19:57] kilbith commented on #89
Merci pour le signal. Sinon ça serait sympa de faire profiter votre travail sur upstream. J'accepte aussi les pull-requests et les évalue aussi vite que possible.

[2016-03-08 20:05] kilbith commented on #89
Il semble que le patch proposé par @crabman77 soit redondant voire inefficace, la vérification de la nouvelle API est déjà faite plus en amont dans le timer : https://github.com/kilbith/xdecor/blob/master/mechanisms.lua#L31

Etes-vous bien sûr d'avoir utilisé cette ligne de code sur votre serveur ?

[2016-03-08 20:19] ghost commented on #89
@kilbith  door.get est présente mais doit renvoyer un node si il est enregistré en tant que porte avec la nouvelle api, mais le mod protector à l'ancienne api, du coup door.get() renvoie nil https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/master/mods/doors/init.lua#L69

door:open() échoue donc https://github.com/kilbith/xdecor/blob/master/mechanisms.lua#L13

[2016-03-08 20:39] Lymkwi commented on #86
So apparently, food isn't absorbed anymore.
@Ombridride please, tell me the code has updated correctly..

[2016-03-08 20:45] kilbith commented on #86
Pour moi ça a toujours bien fonctionné en passant. Assurez-vous que @cessna151 jette les items dans le chaudron de la bonne manière.

[2016-03-08 21:02] BetterToAutomateTheWorld commented on #86
@LeMagnesium All updates are correct in my side

[2016-03-08 21:02] kilbith commented on #89
Alors je viens de vérifier avec l'ancienne API du mod `doors` et rien d'anormal se passe. La petite vérification que j'avais ajouté fait bien son boulot.

[2016-03-08 21:16] Lymkwi commented on #94
This is surely the reason why meselamps shouldn't have been included in the list of cuttable items : xdecor doesn't retrieve the value of "light_source" for the original node.
It didn't before.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/3b3ff36d83f2072409c4e7a6be8b82ac55f42325

[2016-03-08 21:16] #94 closed

[2016-03-08 21:20] ghost commented on #89
Enfaite protector a sa propre fonction pour enregistrer les portes, donc les portes testées avec doors.get(node) sont inconnues de doors, d'ou le "nil" renvoyé, qui conduit à "nil:open(player)".

[2016-03-09 15:56] Lymkwi commented on #86
Moi même, sur le serveur, j'ai essayé de lancer la nourriture dans le chaudron. En local, et sur le serveur Chlorine, tout fonctionnait, mais pas sur le serveur Skyblock : les items n'étaient pas absorbés.

[2016-03-10 16:13] BetterToAutomateTheWorld commented on #86
Ils étaient pourtant absorbé jusqu'a récemment...

[2016-03-12 23:40] aerozoic commented on #89
And again...

[2016-03-13 09:27] BetterToAutomateTheWorld commented on #89
default, farming, xdecor, that's all of our mods which use the "item_OnPlace()" function, maybe the problem isn't this mods but something else... quests system ? builtin ? default skyblock mods which call this mods ?

I don't know...

[2016-03-15 09:57] kilbith commented on #82
Pour info j'ai installé MFF-Skyblock de mon côté et essayé de couper quelques blocs. J'ai pas été capable de reproduire ce bug, tout était normal.

Est-ce que LuaJIT est utilisé par hasard ?

[2016-03-15 10:40] BetterToAutomateTheWorld commented on #82
@kilbith Oui, LuaJIT est utilisé (version assez vieillot actuellement, j'upgrade en Debian Jessie 8.3 bientot)
`LuaJIT 2.0.3 -- Copyright (C) 2005-2014 Mike Pall. http://luajit.org/`

[2016-03-15 10:48] kilbith commented on #82
OK, alors tant mieux.

[2016-03-15 10:49] BetterToAutomateTheWorld commented on #82
Pourrais-tu expliquer ce qui ferait que LuaJIT aurait un impacte sur nos soucis d'unknow nodes ?

[2016-03-15 11:02] kilbith commented on #82
En fait le code itère à travers tous les blocs enregistrés au démarrage pour déterminer lesquels choisir pour couper. Donc si t'as beaucoup de blocs enregistrés et que tu n'utilises pas LuaJIT, il est possible que cela cause quelques anomalies à cause de la lenteur de Lua sur un tel traitement.

Mais c'est juste une supposition.

[2016-03-15 17:44] cessna151 opened #95 "Strange IRC error"
2016-03-15 17:58:09: ACTION[ServerThread]: Karluss [???.???.???.???] joins game.
2016-03-15 17:58:09: ACTION[ServerThread]: Karluss joins game. List of players: Karluss
2016-03-15 18:01:11: ACTION[ServerThread]: [TimeRegulation] Entering night period : time_speed 90.09009009009
2016-03-15 18:11:01: ERROR[ServerThread]: IRC: Error: Disconnected, reconnecting in one minute.
...inetestforfun_skyblock

[2016-03-15 23:15] Lymkwi commented on #95
'Network is unreachable'. Somehow the server got disconnected from the network. We aren't to blame, it's a normal reaction from irc mod to any IRC error.

[2016-03-16 09:08] BetterToAutomateTheWorld commented on #95
Yes, not a problem in my point of view

[2016-03-16 09:08] #95 closed

[2016-03-16 14:56] aerozoic commented on #86
Alright, i did some more testing. It works now if i drop two DIFFERENT food items. It will not work if i drop two of the same food items (no i didn't drop a stack of 2).

[2016-03-16 15:34] kilbith commented on #86
Yes, it's the way it's meant to work.

[2016-03-16 15:38] BetterToAutomateTheWorld commented on #86
Well, this issue is done, thank you for your following kilbith

[2016-03-16 15:38] #86 closed

[2016-03-16 15:41] BetterToAutomateTheWorld commented on #92
Avez-vous terminé ce ticket ? je sais que vous travailliez dessus un soir, et le ticket n'a pas été MAJ

[2016-03-16 17:10] ghost commented on #92
y a une autre issue ouverte, il faut debug le sand qui tombe sur la porte.

[2016-03-16 17:13] ghost commented on #87
fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/9d493dd2bc3d9807adf72f10ecefe6255c833cd3

[2016-03-16 19:55] BetterToAutomateTheWorld commented on #87
Thank you very much @crabman77

Closed the issue

[2016-03-16 19:55] #87 closed

[2016-03-16 19:56] BetterToAutomateTheWorld commented on #92
Ouais mais c'est un autre ticket, ce ticket concerne uniquement l'ouverture simultané des portes collés :)

[2016-03-26 12:57] kilbith commented on #82
Pouvez-vous mettre à jour `xdecor` et bien vérifier si ce bug est résolu, svp ?

Un autre serveur a appliqué mon dernier patch et apparemment ça a résolu le problème...

[2016-03-26 15:42] kilbith commented on #82
@LeMagnesium J'aurais préféré avoir une confirmation avant de fermer ce ticket.

[2016-03-26 15:52] Lymkwi commented on #82
@kilbith Je n'avais pas pensé que cela le fermerait, attends..
EDIT: Voilà

[2016-03-28 18:18] Ombridride opened #96 "Server crash because of "callback item_OnPlace()" from ???"
#### Server crash because of "callback item_OnPlace()" from ???
[code]

[2016-03-28 18:18] Ombridride opened #97 "Server crash because of "callback item_OnPlace()" from default"
#### Server crash because of "callback item_OnPlace()" from default

[code]

#### Server crash because of "callback item_OnPlace()" from default

[code]

[2016-03-28 18:18] Ombridride opened #98 "Server crash because of "callback item_OnPlace()" from "/mods/xdecor/mailbox.lua""
#### Server crash because of "callback item_OnPlace()" from "/mods/xdecor/mailbox.lua"
[code]

#### Server crash because of "callback item_OnPlace()" from "/mods/xdecor/mailbox.lua"

[code]

[2016-03-28 18:19] BetterToAutomateTheWorld commented on #89
Close this issue, splitted here :
- https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/96
- https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/97
- https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/98

[2016-03-28 18:19] #89 closed

[2016-03-30 14:13] Lymkwi commented on #96
We purely have no idea what caused this. Thousands of nodes could trigger this error. I'm getting sick of seeing so many of those abnormal crashes.

[2016-03-30 20:30] Ombridride opened #99 "Normal players can see the worldedit button"
Normal players can see the worldedit button, it's not normal, only the admin must see the worldedit button in the inventory

[2016-03-31 15:26] cessna151 opened #100 "Multiple unknown items"
After the last merge there are now many unknown items including:  Stone walls, mese lamp microslab, flint&steel, enchanted pickaxe. There could be more.

[2016-03-31 20:16] Lymkwi commented on #100
That'll be fixed by myself since we agreed to let it in xdecor instead of removing it.

Only mese lamp microslabs? That's maybe my condition to make mese sawable which failed again, I'll check it.

The mod was updated, I have no idea if there are any aliases in place.

I have no idea what those are, but if they're from xdecor, it was upgraded recently, and again, there's retrocompatibility lasting

[2016-04-01 21:25] BetterToAutomateTheWorld commented on #100
@kilbith Can you explain us why don't you configure aliases ?

[2016-04-01 21:37] kilbith commented on #100
Les murs en pierre sont maintenant dans minetest_game, les alias sont ici : https://github.com/kilbith/xdecor/blob/master/nodes.lua#L478

Les microslabs de meselamp ont déjà été aliasé sur votre serveur : https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/d902654cfb989b0340e0176d6dfd957945f5abc4/mods/xdecor/workbench.lua#L263

Flint-and-Steel est maintenant dans minetest_game, l

[2016-04-05 15:09] aerozoic commented on #100
Sorry it is actually called cobble wall, and yes from xdecor.

Just checked, it's actually all cuts of mese lamp.

[2016-04-07 18:59] BetterToAutomateTheWorld commented on #100
~~Les murs en pierre sont maintenant dans minetest_game, les alias sont ici : https://github.com/kilbith/xdecor/blob/master/nodes.lua#L478~~ => Quelqu'un pour rajouter ces lignes au SB_game ou au xdecor ou au fichier misc/aliases SVP ? https://github.com/kilbith/xdecor/commit/4fc0cb1687b517379ad79d1b910dba0e4174db09

~~Les microslabs de meselamp ont déjà été aliasé sur votre serveur : https://gith

[2016-04-07 19:21] kilbith commented on #100
Il me semble que @LeMagnesium avait modifié le code du Work Bench pour inclure les micronodes de meselamp mais sans modifier les alias plus bas. Ça a du produire un truc bizarre.

En général j'essaie de notifier tous les admins pour mettre à jour aussi vite que possible pour effectuer les changements, et quand la majorité d'entre eux l'ont fait, j'enlève les alias (en général après 1 ou 2 mois).

[2016-04-12 11:32] BetterToAutomateTheWorld commented on #100
up

[2016-04-12 13:19] Lymkwi commented on #100
On a pas fire, pourquoi mettre le flint and steel?

[2016-04-12 19:11] BetterToAutomateTheWorld commented on #100
parce que utilisé par le chaudron, autant mettre fire

[2016-04-12 19:20] kilbith commented on #100
Pour info, l'eau du chaudron bout avec n'importe quel node qui contient `fire` dans son nom. Donc le feu du mod `fire` n'est pas obligatoire.

[2016-04-13 02:12] aerozoic commented on #32
What's the latest about getting the levels done? Players have been asking about it.

[2016-04-13 15:20] Lymkwi commented on #100
J'ai recodé rapidement pour que ça fonctionne avec les torches, et @kilbith l'a bien rapellé, il suffit d'avoir du xdecor:fire ou tout ce qui contient "fire" et voilà.

[2016-04-13 15:31] ghost commented on #100
Mais il n'y a pas de xdecor:fire c'est justement ça le problème https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/master/mods/xdecor/nodes.lua#L307
Et le fire:basic_flame ne tient pas longtemps, juste quelques secondes, après le chaudron ne bout plus, en plus on ne peut pas le poser partout, seulement sur des nodes flammable.

[2016-04-13 16:37] Lymkwi commented on #32
Absolutely nothing. As far as I know nobody is assigned to making the level. I think I'll get to it, updating mods is boring.

[2016-04-14 10:18] BetterToAutomateTheWorld commented on #32
I agree with you @LeMagnesium, if you want to do this task **you're welcome**, do not hesitate to assign you :)

[2016-04-14 10:19] BetterToAutomateTheWorld commented on #100
D'accord, donc si je comrpend bien le mod xdecor devient à la fois dépendant du "default" flint & steel mais aussi de fire... A moins de réécrire ça dans un de nos mod de façon "moche"...

En gros il nous faut de l'update depuis le default, l'ajout de fire ne me pose personnellement pas de problème, la propagation du feu sera désactivé, tout comme pour les autres serveurs

[2016-04-14 18:01] Lymkwi commented on #100
J'ai déjà mis à jour default.

Nous n'avons pas besoin de fire, **j'ai spécifiquement ajouté les torches comme déclencheurs pour ne pas avoir à le mettre juste pour allumer un chaudron**. J'ai même amputé le flint&steel de ses fonctionnalités pour ne pas dépendre de fire.

[2016-04-15 23:53] cessna151 opened #101 "Add "moderator" as a prohibited player name?"
Somebody just logged in as the player name Moderator and is claiming to be a moderator.

[2016-04-16 19:53] BetterToAutomateTheWorld commented on #100
Mg, on en avait déjà parlé il y a un petit moment il me semble : il est préférable de garder le déclencheur par défaut du chaudron, le fait d'ajouter la torche est une bonne chose, néanmoins ce n'est qu'un "bonus"

[2016-04-16 20:05] BetterToAutomateTheWorld commented on #101
Done in the mod :
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d5c78bb0843120b988425e73cabd32deac99f78d
https://github.com/MinetestForFun/server-minetestforfun/commit/f038ec8284139389196f589f4d3efe0579bd5c0c
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f89853680174d6d989c6dc1cd301ff14d70e9b33
https://github.com/MinetestForFun/server-minetes

[2016-04-16 20:08] BetterToAutomateTheWorld commented on #101
And on the text file, just in case :
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ca1e60c25ca3a15d664e5a2b47594469d570cd71
https://github.com/MinetestForFun/server-minetestforfun/commit/2f7b90ed02cfaeb3300a3eaa3930bbc48b81f896
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/f3d0c90d05604f2fd482a52e05c3c35f64ad7287
https://github.com/MinetestFo

[2016-04-16 20:09] BetterToAutomateTheWorld commented on #101
Everything is ok now :)

[2016-04-16 20:09] #101 closed

[2016-04-16 22:48] BetterToAutomateTheWorld commented on #100
Ok, suite aux dernières modifs de @crabman77 que je remercie pour son travail

tout est fonctionnel, je ferme le ticket.

[2016-04-16 22:50] BetterToAutomateTheWorld commented on #82
Ok, suite au dernier merge nous n'avons plus de problème sur les nano slab, merci pour votre suivi, je ferme le ticket.

[2016-04-16 22:50] #82 closed

[2016-04-16 22:52] BetterToAutomateTheWorld commented on #98
Now fixed in the main xdecor repo, merge since today, and everything is ok.

[2016-04-16 22:52] #98 closed

[2016-04-16 22:52] BetterToAutomateTheWorld commented on #96
Since we have no clue, i closed this issue.

[2016-04-16 22:52] #96 closed

[2016-04-16 22:52] BetterToAutomateTheWorld commented on #97
Since we have no clue, i closed this issue.

[2016-04-16 22:52] #97 closed

[2016-04-16 23:17] aerozoic commented on #100
My enchanted pickaxe is still an unknown item.

Also i still can't make new enchanted tools with the enchantment table. I didn't make this a separate issue because i figured it is related.

[2016-04-16 23:20] cessna151 opened #102 "Fences/cobble walls are solid blocks"
Both fences and cobble walls are now showing as solid blocks.

[2016-04-16 23:52] ghost commented on #100
@cessna151 it's fixed  https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/e504d33dd3be432748bde93f4c0637159cdff4b9
@kilbith un petit souci avec un "return" mal placé.

[2016-04-17 01:48] ghost commented on #102
It's actual mt game don't work on 0.4.13-stable, same issue on classic, work fine on actual version of git (future 0.0.14).

[2016-04-17 09:41] kilbith commented on #100
https://github.com/kilbith/xdecor/commit/fa0d47380c96ce3cb06084484f665ca8fe977d84

N.B.: pensez à mettre à jour, j'ai rajouté des trucs sympas sur la table d'enchantement.

[2016-04-17 10:24] BetterToAutomateTheWorld commented on #102
The 0.4.14-stable is coming, our servers will be upgraded at this moment https://forum.minetest.net/viewtopic.php?f=18&t=14102

[2016-04-17 10:26] BetterToAutomateTheWorld commented on #100
Ok, it's fixed, i closed the issue again, i will merge today the server

[2016-04-17 10:26] #100 closed

[2016-04-17 23:37] aerozoic commented on #102
Fences are fixed but Cobble walls are still blocks.

[2016-04-17 23:38] aerozoic commented on #102
~~maybe i need to update to 4.14?~~

~~EDIT: 4.14 has not been officially released yet. I'm confused.~~

[2016-04-18 14:44] BetterToAutomateTheWorld commented on #102
Yes we reverted the code for fences for the moment
The latest fences code will be re-implemented when we will upgrade to 0.4.14-stable

We will look after what's wrong with Cobble walls
https://github.com/MinetestForFun/server-minetestforfun-skyblock/blob/ec944dbd6a5c322ad708f669aaaf1a1af4b4949e/mods/xdecor/nodes.lua#L478

[2016-04-18 17:48] Lymkwi commented on #102
For the record :

Cobble walls in latest 0.4.13-dev :
![](https://lut.im/oZi4KPoVBo/CLLCcCbTe8CTTiC1)

Cobble walls in 0.4.13-stable :
![](https://lut.im/w61CCM4ycS/aaVZpPUwPTUZqziV)

Note: The walls mod was directly copied from MTGame.
Question: What black magic technology does this mod use?!

[2016-04-18 21:27] BetterToAutomateTheWorld commented on #102
Wow, that's weird that I think...

Again a good idea to add features in dev version and use it instantly on latest stable subgame like MT_Game and latest stable mods like xdecor in this case...

It totally break servers on the latest stable Minetest version... Nobody will use a dev version of Minetest Server if he wants something stable on production for his players.

Well, the 0.4.14-stable in co

[2016-04-19 20:58] Ombridride opened #103 "A new skin for players"
Somebody ask this skin for the skin choose panel :
http://www.minecraftskins.com/skin/4152042/redstone-suit/

Have we enough space in the player skin panel for this new skin ?

Please, I need comments and opinions !

[2016-04-19 21:02] Ombridride opened #104 "Feature request : Hunger system"
Some players ask me for hunger system.

In fact we have the farming mod so some fruits/vegetables are spawning in the sky world and players drops many apple without a real use with them...

Please, I need comments and opinions !

[2016-04-19 23:45] aerozoic commented on #103
Looks like just another skin to me. Did somebody important request it? If not, i wouldn't waste my time adding it. The whole idea was to have a minimal number of skins. There were several skins i would like to have kept but i didn't in order to keep the skin count low and balanced (male/female/fantasy).

This is just my opinion :sunglasses:

:large_orange_diamond:

[2016-04-19 23:47] aerozoic commented on #104
I've only experienced the hunger system on minecraft. Does it work the same on Minetest? Assuming it's nearly the same... With the lack of animal mobs, we would be relying solely on farming. I imagine this might be difficult for new players. Especially being trapped on their island for awhile. Although maybe the hunger system could be modified to be very slow and/or limited to only reducing health

[2016-04-20 14:28] Lymkwi commented on #103
That's just another skin, indeed... Though it is a reference to Guy Fawkes.
We could add it, the problem is that we do not know its license nor its creator.

[2016-04-20 16:45] Lymkwi commented on #104
I would agree, on the only condition that this hunger system is very slow to increase hunger and only drops health points down to 1. A hunger system would justify adding farming items like hoes or such in level 4, as well as seeds. We could fill that level using them.

[2016-04-20 17:14] BetterToAutomateTheWorld commented on #104
@cessna151
The Minetest hunger system can be like Minecraft but the main difference with Minetest is we can tweak it like we want
For the food, remember the first quest you did in level 1 was digging trees, i re-new an account the last day and i reached 40 apples in my first 5 minutes ingame...

@LeMagnesium
I agree with you, it's better for newbies if this system don't kill players but just reduc

[2016-04-20 17:28] BetterToAutomateTheWorld commented on #103
Have a Guy Fawkes skin please to me
Maybe we can redo it ?
If the MT skin database haven't already this kind of skin we can send this new skin to them

[2016-04-21 18:46] Ombridride opened #105 "sethome and usebug possible"
The report inbox was useful today, someone introduce to us a possible usebug with sethome :

We can fix it easily if we add a condition to the /sethome (not be near a protector which isn't with our name)

_(thanks to vegito for this report)_

[2016-04-21 20:10] Lymkwi commented on #105
I like the idea of restricting home positions; I'll code that as fast as possible.

[2016-04-22 02:18] aerozoic commented on #105
Testing locally i can still /sethome in protected areas.

EDIT: Every account i log into locally has full privs and /revoke doesn't work for some reason :/

[2016-04-22 07:15] BetterToAutomateTheWorld commented on #105
@cessna151 because you're connected with the admin account (with "server" privilege)

The @LeMagnesium fix is well coded in my point of view :)

[2016-04-22 09:21] Lymkwi commented on #105
Locally you have 'server admin' privileges and can bypass any area protection, that's why you're still able to do that.

[2016-04-22 15:21] aerozoic commented on #105
Yes i know that, how do i disable server admin privs?

[2016-04-22 15:30] cessna151 opened #106 "Screwdriver causes server crash!"
[code]

:large_orange_diamond:

[2016-04-23 11:15] BetterToAutomateTheWorld commented on #105
I think you can't with the GUI, you need to open two Minetest windows.

With the first window, create a server, and connect you to this server, with the nickname "admin" for example, you can reduce this window
With the second window, connect you as "cessna" to your local server (127.0.0.1:30000 if default port), and this window/account will be a normal player without admin privs :)

[2016-04-23 11:16] BetterToAutomateTheWorld commented on #106
Again a mod which doesn't prevent nil value on conditions... @LeMagnesium can you fix it please ?

[2016-04-23 11:30] Lymkwi commented on #105
You can't. Use a second local account which doesn't have them by default (meaning its name isn't in the 'name' configuration field). Mine is usually "Hydrogen" or another chemical element.

[2016-04-23 11:31] Lymkwi commented on #106
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/586e1e93b15fdb4e2d7a1300df0c0d01cbe81ca1
https://github.com/MinetestForFun/server-minetestforfun/commit/a6572fafc59f0bb6c1fe354d2346c312d20d23bc
https://github.com/MinetestForFun/server-minetestforfun-creative/commit/a666eea75a2735a51decea5e7a641fb7cb32eda4

[2016-04-23 11:31] #106 closed

[2016-04-23 11:37] BetterToAutomateTheWorld commented on #106
Thank you @LeMagnesium

[2016-04-23 11:47] Ombridride opened #107 "Add PVP features"
This days, many players ask us for a PVP system, we will include it but i think, in a way it will be acceptable for everyone, let me explain our roadmap :

#### Swords

- ~~Add swords, with linear increase damage with the ore you use to craft them https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/62ada47b38c38c0314408fe2b17216c7a5b97d83~~
- ~~We will add them with modified te

[2016-04-23 12:42] Lymkwi commented on #107
I think PvP will add a bit of spice in the Skyblock recipe, and swords could be crafted in Level 4 for quests.

I uncommented the swords; you're usually the one who balances their damages, but I'll copy those from Classic. For now I won't push that modification.

Done. There was already the texture of a sword for the PvP button. I left it as is, we can change that later. I like the idea of a coold

[2016-04-23 12:51] aerozoic commented on #107
Yes, i talked to several people a few days ago and they all said PVP is the reason they like the "other" skyblock server better.

Just to make sure i understand... If somebody is not interested in pvp all they need to do is leave the pvp button deactivated and that person can never be damaged by others or cause damage to others?

:large_orange_diamond:

[2016-04-23 12:56] Lymkwi commented on #107
That's exactly it.

[2016-04-23 13:07] aerozoic commented on #107
Perhaps make the spawn area a safe zone?

Add armor too?

Maybe a short cooldown timer after a TP request is accepted?

:large_orange_diamond:

[2016-04-23 13:39] cessna151 commented on #107
What about armor?

[2016-04-23 13:41] cessna151 commented on #107
Maybe have a cooldown timer after a TP request is accepted?

[2016-04-23 20:30] BetterToAutomateTheWorld commented on #107
@LeMagnesium
The MFF_Classic sword damages should be great, good initiative.
For the sword/shield textures for activate/deactivate button, i see them and it's good like this for me :)
I push for the 5 minutes idea, it's the minimal time for me to do a balanced PVP system. Imagine a player with PVP is killed by a player without PVP but who activated PVP only for killing with surprise the first PVP

[2016-04-24 10:05] Lymkwi commented on #106
We need to merge that **asap**! There have been more than 10 crashes those past two days alone involving screwdriver!

[2016-04-24 12:48] BetterToAutomateTheWorld commented on #106
Ok I will merge today

[2016-04-24 12:50] Ombridride opened #108 "Tree leavedecay"
We need to reduce a little the tree leaves "leavedecay" when we dig the tree trunk with an axe.
In fact, the currently high "leavedecay" cause lags when many people  dig tree trunks...

[2016-04-24 12:55] BetterToAutomateTheWorld commented on #105
I closed this issue, it's solved.

[2016-04-24 12:55] #105 closed

[2016-04-24 12:57] BetterToAutomateTheWorld commented on #92
Up, @crabman77 do you still want to do this issue ?

[2016-04-24 12:59] BetterToAutomateTheWorld commented on #102
Solved since @crabman77 revert the fences code.
Closed this issue

[2016-04-24 13:02] BetterToAutomateTheWorld commented on #103
Assigned to @cessna151, seems you want to do it :)

[2016-04-24 13:07] #108 closed

[2016-04-24 13:18] BetterToAutomateTheWorld commented on #102
fences : OK
walls : NOK

[2016-04-24 13:36] aerozoic commented on #107
If players ~~have already waited the 5 minutes and they are active PVP, then they~~ do a TP request, some players might be caught off guard especially since i don't think most players pay attention to whether it was a TPR or a TPHR request. A ~10 second PVP delay would give both players an equal chance in my opinion. ~~I was under the impression after the 5 minute cooldown a player could TP and in

[2016-04-24 13:42] aerozoic commented on #103
I think if we do this we should also add one more female skin, i've had many requests for another female skin as well.

[2016-04-24 13:53] BetterToAutomateTheWorld commented on #103
Ok, i think it's a good idea

[2016-04-24 14:05] Lymkwi commented on #107
It doesn't. There is no way to reset an action timer, at least none was added to our code (there is one but we never use it). You can only wait until 5 minutes elapse.

[2016-04-24 14:36] aerozoic commented on #107
I totally misunderstood the cooldown (i thought the cooldown meant you had to wait 5 minutes before PVP activates when PVP is pressed). My original idea still applies though, a 5-10 second delay would allow both players to prepare and have an equal chance. As of now, victory would likely go to the player who orients the quickest after the TPR is accepted.

[2016-04-24 15:44] aerozoic commented on #107
The PVP button doesn't change to a shield.

[2016-04-25 01:45] aerozoic commented on #103
from http://www.minecraftskins.com/terms-and-conditions/

[2016-04-25 02:19] aerozoic commented on #103
This one is similar: http://minetest.fensta.bplaced.net/#name=Kirby%20In%20A%20Suit

[2016-04-25 02:21] aerozoic commented on #99
It can still be seen after you click the Crafting Guide button.

[2016-04-25 08:00] BetterToAutomateTheWorld commented on #99
Oh yes, two inventories...

[2016-04-25 08:02] BetterToAutomateTheWorld commented on #103
If we remade it, no problem

Yes, except the head, it's the same suit :)

[2016-04-25 08:03] BetterToAutomateTheWorld commented on #107
Yes it see it also, didn't know why, maybe a problem with u_skin integration ?

[2016-04-26 21:22] aerozoic commented on #103
I've added a guy fawkes skin of my own creation and a female skin from the database: 6b9a0fb7890572b3654b33a911516e656905af2e

They still need previews which @LeMagnesium said he would write a script for that.

:large_orange_diamond:

[2016-04-26 22:42] BetterToAutomateTheWorld commented on #103
Perfect, i will merge them when the previews will be pushed :)

[2016-04-27 14:49] cessna151 opened #109 "[xban2] Gui does not wordwrap"
The xban gui doesn't wordwrap so i can't see the entire ban report for a player. All i can see is the time and date, which is actually the CURRENT server time. Is this normal? Does it show the ban time and expire time?

![clipboard01](https://cloud.githubusercontent.com/assets/15715378/14856283/78331338-0c65-11e6-952f-6c57026a04a2.jpg)

[2016-04-27 17:14] BetterToAutomateTheWorld commented on #109
Don't know if we can fix it without redo the entire formspec...
Clearly a "xban" bad feature
Maybe @crabman77 can help us ?

linked @kaeza just in case he wants to fix his mod :)

[2016-04-27 23:22] kaeza commented on #109
@Ombridride Thank you for linking. The xban2 GUI needs some love. Expect something soon(tm).

[2016-04-27 23:27] kaeza commented on #109
@cessna151 We have no way to know the client's timezone (it's actually possible, but out of scope for xban2), so the server time is the best we can do.

[2016-04-28 00:12] aerozoic commented on #109
The server time is fine. But maybe i didn't explain well... it is showing live current time, if i keep clicking my name in the list i can watch the seconds tick by. It would be nice to know the time the ban was issued and the expire time. I can't see the end of the message, maybe this info is already there but at the end where i can't see it?

[2016-04-28 14:07] BetterToAutomateTheWorld commented on #109
An other problem is we can't read more than ~80 letters, it cuts our full ban message

[2016-04-28 17:00] Lymkwi commented on #103
Is this issue solved yet? The preview was pushed yesterday.

[2016-04-28 17:02] Lymkwi commented on #104
I think the original hunger mods should fit our purposes. I'm gonna see how well maintained it is as of now.

[2016-04-28 17:44] #99 closed

[2016-04-28 21:43] BetterToAutomateTheWorld commented on #104
I think also the original hunger system should be good (but slower than the original and with the 1 or 2 hearth(s) minimum if the player is hungry)

[2016-04-28 21:45] BetterToAutomateTheWorld commented on #103
I will merge tomorrow or Saturday.
I think you can close the issue, everything is good in my point of view, and in the worst case, we can re-open this issue.

[2016-04-28 23:36] aerozoic commented on #103
I pushed two skins, but you only did a preview for one skin.

:large_orange_diamond:

[2016-04-29 10:38] Lymkwi commented on #103
@cessna151 : For you information :

[code]

[2016-04-30 21:29] LeMagnesium opened #110 "Double Lua Error Crashs"
[code]

That's all we've got. In case we ever find a cause/mean of getting more infos, I'll just put that up here.
EDIT: I'm going to stuff all double error crashes here, in this issue

[2016-05-01 13:35] Lymkwi commented on #110
[code]

[2016-05-01 14:10] cessna151 opened #111 "[worldmap]Point of interest request"
VaultBoy has a POI request:

:large_orange_diamond:

[2016-05-01 19:44] Lymkwi commented on #109
I'm not sure you can have a ban reason longer than 80 characters.

[2016-05-01 21:16] BetterToAutomateTheWorld commented on #103
Preview now generated

[2016-05-01 21:16] #103 closed

[2016-05-01 21:18] BetterToAutomateTheWorld commented on #109
@LeMagnesium look at the screenshot, in the ban message, near 60-65 characters are taken by the date/hour :)

[2016-05-01 23:19] BetterToAutomateTheWorld commented on #107
Done and merged.

[2016-05-01 23:19] #107 closed

[2016-05-01 23:19] BetterToAutomateTheWorld commented on #104
Done and merged

[2016-05-01 23:19] #104 closed

[2016-05-01 23:26] BetterToAutomateTheWorld commented on #111
Added

[code]

![screenshot_new_POI](http://i.imgur.com/CVd52oi.png)

Closed the issue

[2016-05-01 23:26] #111 closed

[2016-05-01 23:39] Ombridride opened #112 "Health/armors hudbar problems"
![health_armor](http://i.imgur.com/7HYtt2y.png)

- The both hudbars lines are grey (like always enough, but it's not !)
- The armor bar is our health bar ! (inverted with the real health bar)
- So, the armor bar is regenerating, not the health bar, and when the armor bar reach 0, you die !

[2016-05-02 13:01] Lymkwi commented on #112
Apparently the double health bar issues disappeared on its own.
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ddb9ce30a5650947935b6f8b0e8a81749e373142

[2016-05-02 13:01] #112 closed

[2016-05-02 21:52] cessna151 opened #113 "[u_inv] Crafting guide is all messed up"
Some items have no recipe while others show many incorrect recipes yet other items are missing completely.

Examples:
- The default sign is missing from the craft guide.
- Signs, tools, and ore don't have a recipe.
- Cobble shows 16 recipes.
- Wood planks show 40 recipes.

Thanks LizzardBeth for the report.

:large_orange_diamond:

[2016-05-02 22:12] cessna151 opened #114 "incorrect reference to inventory armor preview texture"
All enchanted armor causes the lua error "failed to load image..." when it is placed in the armor slot in the armor tab of inventory. The reference is to enchanted armor preview texture, but it should reference the normal armor preview texture.

Also, i don't know if this is a separate or related issue... Only one enchanted piece of armor is allowed to be placed in the armor slots at one time.

:l

[2016-05-02 22:51] cessna151 opened #115 "Eating doesn't repair health"
Eating doesn't repair health even with full hunger.

Edit: This was tested locally with latest updates.

:large_orange_diamond:

[2016-05-03 20:22] BetterToAutomateTheWorld commented on #114
@kilbith can you light us about this issue ?

[2016-05-03 20:23] BetterToAutomateTheWorld commented on #115
The health isn't regenerating instantly but 1 half hearth by 1 half hearth when you're feed

The instant health regeneration is more easy to understand for you ? We can do it

[2016-05-03 20:32] aerozoic commented on #115
Let me be more specific. Yes when hunger bar is full, the health bar slowly regenerates but i can't continue eating to make the health regenerate faster like it used to be before hunger was added. Maybe this is the way it is supposed to be?

:large_orange_diamond:

[2016-05-03 20:35] BetterToAutomateTheWorld commented on #115
Yes it's the way it's supposed to be...
Can you answer me, is it good for you, or you think it's not very understandable for players ?

[2016-05-03 20:41] aerozoic commented on #115
I think it's understandable. I was just used to the old way. It would be nice though if it could work both ways... If I could choose to let full hunger bar slowly regenerate health or i could choose to keep eating to fully restore health faster.

[2016-05-03 20:44] cessna151 opened #116 "Double hunger bar"
There is a double hunger bar:

![clipboard01](https://cloud.githubusercontent.com/assets/15715378/14997743/42caed7c-114e-11e6-9f52-5fa71011bf01.jpg)

:large_orange_diamond:

[2016-05-03 20:48] Lymkwi commented on #114
It's not his fault. 3d_armor's way of determining a piece of armor's texture name is based on the idea that all pieces' textures' name are composed of the piece's item name, so even when xdecor sets the inventory_image as the original piece's inventory image, the preview file loaded still doesn't exist for 3d_armor.

[2016-05-03 20:48] #114 closed

[2016-05-03 21:15] Lymkwi commented on #116
How?

[2016-05-04 00:05] aerozoic commented on #110
[code]

:large_orange_diamond:

[2016-05-04 15:18] Lymkwi commented on #113
Are we talking about XDecor's craft guide or u_inv's one?
EDIT: Also, this doesn't pose a threat to the server so I put it average

[2016-05-04 15:32] BetterToAutomateTheWorld commented on #113
Thank you for the report @cessna151
- The default sign is missing from the craft guide => need to fix it
- Signs, tools, and ore don't have a recipe => need to fix it
- ~~Cobble shows 16 recipes => normal~~
- ~~Wood planks show 40 recipes =>normal~~

You also need to answer @LeMagnesium question, but i think we need to check on all craft guides

[2016-05-04 15:49] aerozoic commented on #113
I'm referring to u_inv's crafting guide.

@Ombridride
It's not normal to show 40 recipes for wood planks. It should only show one which is the default wood for that type of plank (pine, jungle, or regular).

:large_orange_diamond:

[2016-05-04 15:52] BetterToAutomateTheWorld commented on #113
@cessna151 Then, I need to see ingame the craft recipes to understand the problem.. :)

[2016-05-04 15:55] cessna151 opened #117 "[ignore] doesn't work if player uses /me"
If a player is added to ignore list and then that player uses `/me <text>`, it can be seen although normal chat from this player is hidden.

:large_orange_diamond:

[2016-05-04 19:42] BetterToAutomateTheWorld commented on #117
@LeMagnesium can you check this issue please ?

[2016-05-05 09:16] Cyberpangolin opened #118 "armor bug"
From IRC:
<brothersome> Bug! Cannot put enhanced armor back from my inventory to the box

[2016-05-05 10:58] kaeza commented on #109
See minetest-mods/xban2@974b47f8f6f9f654e9ce3e0c2cb92e45ce743bcf.

![screenshot_20160505_075050](https://cloud.githubusercontent.com/assets/2388420/15042049/0ad7e4b6-1297-11e6-90ed-fb03331b29be.jpg)

[2016-05-05 16:50] BetterToAutomateTheWorld commented on #109
It's a good step, thank you for your work @kaeza :)
@LeMagnesium can you update the subtree please ?

[2016-05-05 16:54] BetterToAutomateTheWorld commented on #118
Linked @sofar (or @kilbith ?) if it's not already reported

[2016-05-05 18:22] sofar commented on #118
I have no idea what this is about. If there is a bug, please report it to the mod or project and don't @ include me in mff threads, I already have too many notifications from github that are not actionable.

[2016-05-05 18:23] Lymkwi commented on #118
If by 'the box' you meant the armor inventory then it works fine for me.
Also why the F\* would you @ sofar? He's not involved here, 3d_armor isn't originally in Skyblock

[2016-05-05 18:29] Lymkwi commented on #117
`/me` is not normal chat. I will need to hack the `me` chatcommand. It should be feasible, but as ugly as what I've already done.

[2016-05-05 19:15] BetterToAutomateTheWorld commented on #118
Sofar, we often link Kilbith like that without problems, but ok we won't link you again in the future. We will probably not open always issues on the mod repository...

@LeMagnesium
Calm down, you're really not up to date :) https://forum.minetest.net/viewtopic.php?f=3&t=14556

[2016-05-05 20:21] aerozoic commented on #114
The second part of this issue was never addressed but i think was reported again here: https://github.com/MinetestForFun/server-minetestforfun-skyblock/issues/118

:large_orange_diamond:

[2016-05-05 20:23] aerozoic commented on #118
Could this be the same as what i reported in #114?

:large_orange_diamond:

[2016-05-05 21:11] aerozoic commented on #116
This issue is probably due to me running MT in software mode. It loads fine otherwise.

:large_orange_diamond:

[2016-05-06 09:08] Lymkwi commented on #117
https://github.com/MinetestForFun/ignore/commit/2bc3665479d2c875f509eac4643e218b7990c926

[2016-05-06 09:08] #117 closed

[2016-05-07 18:46] Lymkwi commented on #115
I'm gonna see if it's not too much of a pain in the A to implement that, and maybe it will be added.

[2016-05-07 18:47] Lymkwi commented on #109
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/af10e1164288bec00fa52135b06e74081cfd6db6

This seemingly helps for the issue. Thanks @kaeza .
Should we close it or try to adapt the GUI to Sb a little bit more?

[2016-05-07 19:25] BetterToAutomateTheWorld commented on #109
I think we can't do more with the GUI, i closed this issue.

Thank you again @kaeza !

[2016-05-07 19:25] #109 closed

[2016-05-07 19:28] BetterToAutomateTheWorld commented on #118
Yes, I think it's the same issue, and the server hasn't been merged before the @LeMagnesium fix.

Well, I closed this issue, if it happens again, do not hesitate to re-open this issue.

[2016-05-07 19:30] BetterToAutomateTheWorld commented on #115
@LeMagnesium not the both ways ! it's a too high amont of life regenerate !
Let's just make all foods restore instantly the amount of life. It's clearly the easier way to understand hwo it works for new players. ;)

[2016-05-07 20:24] kaeza commented on #109
@Ombridride, @LeMagnesium, You are quite welcome.

[2016-05-08 13:02] cessna151 opened #119 "Shields can't be enchanted"
Shields are not allowed to be put into the enchantment slot. Maybe this is normal?

:large_orange_diamond:

[2016-05-08 13:06] aerozoic commented on #118
Testing locally the armor tab still only allows one enchanted item.

:large_orange_diamond:

[2016-05-08 13:48] BetterToAutomateTheWorld commented on #119
Shields aren't maybe part of the enchantment table ?

[2016-05-09 01:20] aerozoic commented on #113
This has been mysteriously fixed. Any idea which commit fixed it?

[2016-05-09 07:07] BetterToAutomateTheWorld commented on #113
All of the problems has been fixed or just one ?

[2016-05-09 23:15] aerozoic commented on #113
Everything seems fixed. I can't find anything wrong with the crafting guide now.

:large_orange_diamond:

[2016-05-10 07:04] BetterToAutomateTheWorld commented on #113
Well, i closed the issue :p
(Maybe it was an xdecor update)

[2016-05-10 20:30] Ombridride opened #120 "[Update] protector"
Only on Skyblock server

https://github.com/tenplus1/protector

BE CAREFUL To keep our changes !

I think the last commit we need is https://github.com/tenplus1/protector/commit/f02fe24b6138f5beb08ad88cacc0c884c2bd6c60

[2016-05-11 02:46] cessna151 opened #121 "No nightly reboot warning"
There are no in-game server shutdown warnings before the nightly reboot.

:large_orange_diamond:

[2016-05-11 09:48] BetterToAutomateTheWorld commented on #121
In my point of view, if it's not present on SB, it's the case for all servers, so we need to fix this for all servers

[2016-05-14 01:12] aerozoic commented on #110
[code]

:large_orange_diamond:

[2016-05-15 15:17] cessna151 opened #122 "[travelnet] Elevator malfunction"
After an elevator network is setup, when a station is selected, it teleports to the wrong station. For instance, i set up a network of 10 elevators and no matter which station i'm at or which station i select, it will always take me to station 3 or 4. It seems random. On another network it would always take me to station 10 or 11.

EDIT: This only seems to be an issue with new networks. My existin

[2016-05-18 20:31] BetterToAutomateTheWorld commented on #115
Done.

[2016-05-18 20:31] #115 closed

[2016-05-20 12:13] BetterToAutomateTheWorld commented on #102
@crabman77
We are now on a 0.4.14-stable version, can you do the changes to fix the fences & walls please ?

[2016-05-20 13:52] Ombridride opened #123 "new POI"
Asked by ihatedrift
Coordination : 15764,85,15258
Name :  Drift tower (by ihatedrift)

[2016-05-21 12:22] #113 closed

[2016-05-21 14:38] cessna151 opened #124 "Server crash"
[code]
:large_orange_diamond:

[2016-05-21 17:39] Lymkwi commented on #124
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ef4cb72b512fffb2a18ccd8c2fe168fb9d8b59c4

[2016-05-21 17:39] #124 closed

[2016-05-23 14:05] BetterToAutomateTheWorld commented on #123
Done.

[2016-05-23 14:05] #123 closed

[2016-05-23 20:50] Lymkwi commented on #121
Smart deduction sherlock.
I'll investigate that; it's also possible that the message isn't seen because players are kicked immediately. Anyway, I'll post my results when I'm done.

[2016-05-24 14:46] BetterToAutomateTheWorld commented on #119
Xdecor is made like this, you can't enhance shields :
https://github.com/minetest-mods/xdecor/blob/fa0d47380c96ce3cb06084484f665ca8fe977d84/enchanting.lua#L44

But, you can craft wood/cactus shield enhanted with an addition of a steel_ingot in the craft recipe.

We won't tweak the xdecor mod to implement this feature, it you want them, create an issue in xdecor repository : https://github.com/mine

[2016-05-24 14:47] #119 closed

[2016-05-24 15:56] ghost commented on #92
Fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/b43afcd2a95989ffae8bcf54d60834bc047e312d

ajout du système ouverture/fermeture des portes collées.

[2016-05-24 15:56] #92 closed

[2016-05-25 07:17] BetterToAutomateTheWorld commented on #92
Thank you for your work

[2016-05-30 16:12] aerozoic commented on #102
Walls are still not fixed.
:large_orange_diamond:

[2016-05-30 17:05] ghost commented on #102
Walls are added only in 4.0.14, there are no old uggly code.
![walls](https://cloud.githubusercontent.com/assets/7189389/15654994/169ad572-2699-11e6-8546-1301b1896599.jpg)

[2016-05-30 17:57] aerozoic commented on #102
Sorry, i just realized, my old cobble wall was automatically converted to "default:cobble"

It's fixed now
 :large_orange_diamond:

[2016-05-30 17:57] #102 closed

[2016-05-30 18:19] cessna151 opened #125 "[skyblock_levels] placing a sign doesn't work!"
Placing a sign for the level 1 quest does not trigger the quest as completed which prevents new players from getting past level 1.

:large_orange_diamond:

[2016-05-30 18:59] BetterToAutomateTheWorld commented on #125
@LeMagnesium @crabman77 you already fix this, but i didn't remember how ? (it's probably the sign_lib update which broke the quest)

**WARNING : please comment this kind of code expressively**

[2016-05-30 20:04] aerozoic commented on #125
Yes this quest was working until the update today. I also think it was the sign_lib update which broke the quest. Perhaps "default_sign == default:sign_wall_wood"?
:large_orange_diamond:

[2016-05-31 13:11] Ombridride opened #126 "Armour models/skins problem"
When you're wearing an armour, you can't see it with F7 and other players didn't see it :
![](http://i.imgur.com/NpqHEQm.png)
![](http://i.imgur.com/18WLvXr.png)

[2016-05-31 13:55] ghost commented on #126
Fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/0b5333bd78f256e33b6a4266c4d41cb4e7d04377

[2016-05-31 13:55] #126 closed

[2016-05-31 21:42] ghost commented on #125
Fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/3bb579c759f97c005b7ec3f8fefe82b2531e3d58

[2016-05-31 21:42] #125 closed

[2016-06-01 13:48] BetterToAutomateTheWorld commented on #125
Merged and works well. thank you for the fix.

[2016-06-01 18:36] cessna151 opened #127 "Server crash"
[code]
:large_orange_diamond:

[2016-06-01 18:42] cessna151 opened #128 "many deprecated warnings during server reboot"
[code]
:large_orange_diamond:

[2016-06-01 19:56] BetterToAutomateTheWorld commented on #128
Resumed by this two lines

[code]

[2016-06-01 22:31] aerozoic commented on #127
And again...

[code]

:large_orange_diamond:

[2016-06-02 00:06] aerozoic commented on #127
Found the cause of the crash:
![clipboard01](https://cloud.githubusercontent.com/assets/15715378/15729832/b6e4687a-2835-11e6-9fa3-5b435b1bfcfd.png)

If you place ANY DOOR next to a trapdoor, then try to open the door, it crashes.
:large_orange_diamond:

[2016-06-02 12:03] ghost commented on #127
Fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/2165a2a81e2a5c07941875a2379a6e1066fd4e94

[2016-06-02 19:03] aerozoic commented on #127
@crabman77 another crash

[code]

:large_orange_diamond:

[2016-06-03 20:14] Lymkwi commented on #122
Is the issue fixed by digging/replacing all elevators?

[2016-06-03 22:12] ghost commented on #127
Fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/18cbaeffd82f4640f9020371fe2588263a465d52

[2016-06-03 22:12] #127 closed

[2016-06-03 23:55] aerozoic commented on #122
Dig them all first and then place them all or dig and replace each elevator one at a time?
:large_orange_diamond:

[2016-06-04 08:46] Lymkwi commented on #122
Either one, you could try the two of them, and if only one works, or none, then we have an idea of where the issue is.

[2016-06-05 14:07] aerozoic commented on #122
Alrighty, i will hopefully test that sometime today.
:large_orange_diamond:

[2016-06-05 14:13] cessna151 opened #129 "Suggestion - Hide "quest completed" messages for other players"
I think it would be better if quest completed messages were hidden from other players chat so only that player would see his completed quest message. Or perhaps just hide level 1 quests? What are everyone else's thoughts?
:large_orange_diamond:

[2016-06-06 12:10] BetterToAutomateTheWorld commented on #129
This feature was made on purpose

If i remember well, actually the "small" quests(steps to level) aren't shown for everybody but only for the player which complete the "small" quests
And the "big" quests(level completed) are shown for everyone

Can you confirm it's the actual features ?

So, you want to hide the "big" quest(level completed) for level 1 ?

Im right ?

[2016-06-06 13:25] aerozoic commented on #129
No. Every single quest completed for every level for every player shows in the main chat for all players to see. This is alot of spam now that the server is getting popular. Hiding only the level 1 quests would reduce this significantly, however; hiding all level quests would be ok too.
:large_orange_diamond:

[2016-06-06 13:31] BetterToAutomateTheWorld commented on #129
I agree with you, when 20+ players are connected it can be a lot of spam source

The "small" quest notifications can be hidden for everyone, just displayed for the player which complete the quest, it's just a line to comment, i will check/do it when i've time

[2016-06-06 13:44] BetterToAutomateTheWorld commented on #129
Done
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/e32b35751f729d06ba7f5e1cfa5575378133d3ff

@LeMagnesium
Can you confirm it's good and close the issue ? I can see in the git-history you wrote this lines :)

[2016-06-06 20:14] Cyberpangolin opened #130 "crash at 22:13 on 06.06"
Internal error.
[22:13] <-- MFFHG-Bot a quitté (Quit: Game shutting down.)

[2016-06-06 20:28] Cyberpangolin commented on #130
whoops Wrong place

[2016-06-06 20:28] #130 closed

[2016-06-07 21:53] aerozoic commented on #122
I can't replicate the issue anymore. I'll reopen if it happens again. Perhaps MT4.14 fixed it for us.
:large_orange_diamond:

[2016-06-07 21:53] #122 closed

[2016-06-07 22:13] Ombridride opened #131 "xdecor rope and protected areas"
rope from xdecor mod can be stollen/grieffen in protected areas, need to fix it
![](http://i.imgur.com/PNiAkaP.png)

[2016-06-07 23:57] cessna151 opened #132 "[Windows] Texture warnings during server connect..."
I get these warnings every time i connect to the server. According to my debug file it started happening February 16th. And there are exactly 20 lines each time i join the server

[code]

:large_orange_diamond:

[2016-06-08 00:58] aerozoic commented on #129
Quest completed msgs no longer show in main chat, but they also do **not** show in chat for the player doing the quest. However, level completed quests show in chat like normal.
:large_orange_diamond:

[2016-06-08 01:45] aerozoic commented on #129
fixed: 2d5baebba25867b437936349557f0be7693f5dab

@LeMagnesium did i fix it correctly?
:large_orange_diamond:

[2016-06-08 14:01] BetterToAutomateTheWorld commented on #129
Oh yes you're right, it's _minetest.chat_send_all_ for messages to everyone...

[2016-06-08 14:14] BetterToAutomateTheWorld commented on #132
http://irrlicht.sourceforge.net/forum/viewtopic.php?f=1&t=9558

Apparently, we need to found the textures which aren't multiple of 2

[2016-06-08 14:50] ghost commented on #132
This ? -> http://zerobin.qbuissondebon.info/?3a6d26af38de173b#ttDCv8a/6ifsz3F+OdDJeU3jgeL78kdXWT4Cpv87xd8=

[2016-06-08 15:22] Lymkwi commented on #128
Ignore that one it's unfixable unless you recompile with special CMake parameters.
The second one can be fixed by changing minetest.conf, using "debug" instead of "4" for debug_log_level
^ @Ombridride

[2016-06-08 15:32] Lymkwi commented on #129
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/94a670a3c2a2dd143ba925d718c69dd9b29af058

Can we close?

[2016-06-08 18:21] #129 closed

[2016-06-08 18:29] BetterToAutomateTheWorld commented on #128
"debug" isn't anymore possible.
https://github.com/minetest/minetest/blob/master/minetest.conf.example#L1474

https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/239407c8b72df64d3d41712352abd8a64893c911

Done

[2016-06-08 18:29] #128 closed

[2016-06-10 14:22] BetterToAutomateTheWorld commented on #32
@LeMagnesium Can you push your work and deactivate it ?
I will done your work(lvl 4 & 5), I don't see anybody go for it, so... :)

[2016-06-10 16:41] Lymkwi commented on #132
We can't simply multiply everything by two, can we? That would be so heavy in terms of data...

[2016-06-10 21:25] Lymkwi commented on #32
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/d1e6b2b18cc67d79de6f18fcb5bd2c1d1489ddfb

My 4th level is mostly about agriculture and dying; you can review it, but I would like to continue. I haven't had the inspiration (call it however you want) to code it, but I feel like all the time I'll have in the following months will give me the opportunity to finally code that lev

[2016-06-11 20:05] BetterToAutomateTheWorld commented on #32
@LeMagnesium
Well done, good work !
I added some comments about your work for level 4 in the commit :)

We need to do together a roadmap for level 5 and 6

[2016-06-11 20:06] BetterToAutomateTheWorld commented on #132
It's the easy way to do it yes, but it's unfortunately not the best way to do it...

[2016-06-12 09:28] ObaniGemini commented on #32
A personal teleport to a parkour/labyrinth for level 6 ? ;)

[2016-06-13 01:41] aerozoic commented on #32
@LeMagnesium i confirmed 50 white wool is given as a reward in a previous quest. As an alternative to the place 50 white wool quest, perhaps place 50 snow blocks instead?
:large_orange_diamond:

[2016-06-13 08:09] BetterToAutomateTheWorld commented on #32
@LeMagnesium
I agree with @cessna151 proposal

@ObaniGemini
Why not do something cool like that, but all players have fly and fast after the level 3, so we will need to do a parkour with this or add code to remove this both privileges in a defined area
In the other hand, we need also to keep in mind that many players are on Android devices, so the parkour/jumping puzzle will need to be very simple

[2016-06-13 09:45] Ombridride opened #133 "Add a POI"
Auteur: higuys
nom: Base de higuys / base_de_higuys
Coordonneés : 17123, 17216

[2016-06-13 09:49] BetterToAutomateTheWorld commented on #133
Added.

[2016-06-13 09:49] #133 closed

[2016-06-13 14:51] Lymkwi commented on #132
I haven't seen those warnings yet. What version of Irrlicht are you using @crabman77 ?
If it is only Irrlicht freaking out in your terminal, we should let it be...

[2016-06-13 15:17] aerozoic commented on #32
@LeMagnesium here are my suggestions...

Quests/rewards:
1. craft_mesehoe---farming:seed_wheat
2. `*` use_hoe x40---farming:melon_slice
3. plant_wheatseed---default:cactus
4. `*` craft_bread---farming:seed_cotton x10
5. `*` place_snowblock x50----dye:red x20
6. `*` place_cactus x5---dye:white x20
7. dig_geranium x5--- flowers:mushroom_brown x2
8. dig_tulip x5---flowers:mushroom_red x2
9. dig_brown

[2016-06-13 15:20] Lymkwi commented on #32
@cessna151 A-OK for me; implementing.

[2016-06-13 17:39] BetterToAutomateTheWorld commented on #32
Merge here

we will keep this issue a little for possibly crash/bugs. Then we will close it to open a level 5 issue for the next level :)

[2016-06-13 21:24] aerozoic commented on #132
To clarify, when i start minetest, two windows open, the first window just shows a log of what the game is doing, the second window is the actual game. It is in the first window where i see these warnings.
:large_orange_diamond:

[2016-06-13 21:34] BetterToAutomateTheWorld commented on #132
Yes, cessna is on windows

[2016-06-15 10:31] Lymkwi commented on #121
Here it was : the function giving us a string representing the hour always returned a string with two digits, but we always tested "4" instead of "04".
Fixed on all servers, need a merge ASAP.
https://github.com/MinetestForFun/server-minetestforfun/commit/6387a54bb767ff947bc7fcde7c7f6fd6908bbe01
https://github.com/MinetestForFun/server-minetestforfun-creative/commit/43d0ef3efda601af8c997456daf5d2f

[2016-06-15 10:31] #121 closed

[2016-06-15 12:30] BetterToAutomateTheWorld commented on #121
Ok thank you for the fix, i will merge this evening

[2016-06-16 22:13] Ombridride opened #134 "[Level 5] WIP"
[Level 5] WIP

[2016-06-16 22:16] BetterToAutomateTheWorld commented on #32
Level 4 is done, i opened an issue about the level 5

[2016-06-16 22:16] #32 closed

[2016-06-16 22:33] ghost commented on #131
fixed https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ca24f961703a45dc9ef9cb1406731875c9e29716

[2016-06-16 22:33] #131 closed

[2016-06-17 07:03] BetterToAutomateTheWorld commented on #131
Thank you :)

[2016-06-18 11:32] Ombridride opened #135 "[Update] farming redo"
update this mod to the latest verison like in https://github.com/MinetestForFun/server-minetestforfun/commit/b698f85c0f22ea4e0335e97c3583fb369052cdc9

/!\ Keep our specific SB changes /!\

[2016-06-18 15:18] cessna151 opened #136 "server crash"
[code]

:large_orange_diamond:

[2016-06-18 15:30] aerozoic commented on #134
Are we going to use mods or should they only be vanillia?
:large_orange_diamond:

[2016-06-18 16:20] BetterToAutomateTheWorld commented on #136
We can't do nothing for this kind of crash it's minetest core itself...

[2016-06-18 16:20] #136 closed

[2016-06-18 20:12] BetterToAutomateTheWorld commented on #135
Done by @LeMagnesium  https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/34e925f542c7b1aae7787492cbc85b82fbd67c86

[2016-06-18 20:12] #135 closed

[2016-06-19 09:39] ElementW commented on #134
@cessna151 The plans I had when I still contributed was to extend the `skyblock` mod with specific content and use that as quest tasks. Additions included a sky tree, special furnaces, day/night-specific nodes, etc...

[2016-06-19 10:13] BetterToAutomateTheWorld commented on #134
We can use both. We need to finish the vanilla features/blocks and add some new features/blocks from mods.

[2016-06-19 13:50] Lymkwi commented on #118
Well, when looking for the piece's type, 3d_armor uses the second part of the item's name, and for enchanted items, it's always "enchanted", so it thinks there is already a similar piece in the inventory.
I'm gonna fix that.

[2016-06-19 14:21] #118 closed

[2016-06-20 04:07] cessna151 opened #137 "Server crash"
[code]

:large_orange_diamond:

[2016-06-20 04:18] aerozoic commented on #137
[code]

:large_orange_diamond:

[2016-06-20 04:27] aerozoic commented on #137
again...

[code]

I'm guessing this is a problem with the nightly shutdown warning messages.
@LeMagnesium what did u do?? :P

:large_orange_diamond:

[2016-06-20 09:21] BetterToAutomateTheWorld commented on #137
Yes, linked @LeMagnesium

The suhtdown mesages crashed the server

[2016-06-20 21:29] aerozoic commented on #136
just reporting another occurrence

[code]

:large_orange_diamond:

[2016-06-20 21:35] cessna151 opened #138 "lag and fps drop due to chopped trees dropping leaves"
If i chop more than 2 or 3 trees i get a huge pile of dropped leaves that just kills performance and generates lag. If i chop 20+ trees it gets crazy.

Can this be changed back to leaves disappear like before?

:large_orange_diamond:

[2016-06-20 22:55] Lymkwi commented on #137
Gracious goodness.
@Ombridride I have to fix that on all servers, either that or you merge the two commits and recompile.

[2016-06-20 23:41] Lymkwi commented on #137
https://github.com/MinetestForFun/server-minetestforfun/commit/bb76964df47df3611bdf3eb855781000470b3b1b
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/ceb9d71997a9bee9a6beaeb8b45c94b9a3ec835d
https://github.com/MinetestForFun/server-minetestforfun-hungry_games/commit/3697674307f4d3b1cc2c32dadbf8f5189959b6d1
https://github.com/MinetestForFun/server-minetestforfun-creative/c

[2016-06-21 07:19] BetterToAutomateTheWorld commented on #138
Lag in your side (only you), not lag in the server side (for all players)

We did this tweak because we want to avoid server lag. (for all players)

In my point of view, we won't/can't change this until it's needed...

**I let this issue open for a short amount of time, if someone else have an idea**

[2016-06-21 07:22] BetterToAutomateTheWorld commented on #137
Ok, I will merge today all servers (just update, without recompilation)

[2016-06-21 19:38] Lymkwi commented on #138
I'll change the code (or the config key I think) ~~to send leaves directly into the player's inventory, or drop them in case there's not enough room. It's easier that way.~~ (too hard)
I'll change the code to not drop leaves. If players want them, they will have to dig them before removing the trunk.

[2016-06-22 02:01] cornernote commented on #32
Guys, this is AWESOME!  Are you able to do a PR upstream?

[2016-06-22 10:08] BetterToAutomateTheWorld commented on #138
drop leaves directly to the player inventory is something we spoke about and yes it was too hard...

For your commit / solution, good idea @LeMagnesium ,I didn't think about it !

[2016-06-23 08:20] BetterToAutomateTheWorld commented on #32
Currently, we haven't much time, but we will do a PR soon for you

[2016-06-23 08:41] Lymkwi commented on #32
@cornernote The only issue I see is that one quest uses items from TenPlus1's farming redo. Should I make a workaround to change that if the mod is not found?

EDIT: I made a PR for us to discuss that : https://github.com/cornernote/minetest-skyblock/pull/73

[2016-06-24 14:18] Lymkwi commented on #132
Whatever system cessna is on, it comes from Irrlicht. If irrlicht complains about some textures being heavy or having dimensions which are not a power of two, then we should also see it on Linux/BSD/Whatever.
So how can we fix this?

[2016-06-25 19:47] Lymkwi commented on #120
I did my best. Hopefully nothing is broken (I tested, but I can't be 100% sure).

[2016-06-25 19:47] Lymkwi commented on #120
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/98b580e6bf4619a945950256f0d0b232d185368c

[2016-06-25 19:47] #120 closed

[2016-06-25 23:38] aerozoic commented on #120
Is there an easy way to see the commit that actually shows the changes?
:large_orange_diamond:

[2016-06-26 01:30] cessna151 opened #139 "the /who command floods chat"
A few months ago using /who provided i nice list of players separated by a comma. Now it floods the chat with each player on a new line.
:large_orange_diamond:

[2016-06-26 09:41] ElementW commented on #120
@cessna151 https://github.com/MinetestForFun/protector/commit/bafa30026de4d198baac00126d9f1e03b965b5d8

[2016-06-26 16:28] Lymkwi commented on #139
Is it the IRC chat command you are talking about?
Nevermind, I found it. I'm gonna do an interface for that thing.

[2016-06-26 20:05] Lymkwi commented on #139
https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/8c2b26d096897939bbf60c98497c3c30e1d02941

[2016-06-26 20:05] #139 closed

[2016-06-26 20:05] Lymkwi commented on #137
Is it okay now?

[2016-06-26 21:16] BetterToAutomateTheWorld commented on #137
No more crashes, thank you for your fix.

[2016-06-26 21:16] #137 closed

[2016-06-26 22:25] Lymkwi commented on #138
Is it merged yet?

[2016-06-26 22:59] BetterToAutomateTheWorld commented on #138
Not yet merged

[2016-06-27 22:20] aerozoic commented on #120
Thanks but i'm lookin for an easy way to find it so i can do it myself in the future.
:large_orange_diamond:

[2016-06-27 22:34] aerozoic commented on #139
@LeMagnesium Would it be easy to add a close button?
:large_orange_diamond:

[2016-06-28 09:56] BetterToAutomateTheWorld commented on #120
@cessna151
If you want to see all commits for a specified mod you can :
1. Github project repository
2. Navigate to the file you want to see (in our case protector, but it's a submodule, it's outside of our SB repository, but anyway, if you click on the mods folder, you will be redirected to the submodule repository) https://github.com/MinetestForFun/protector/tree/master
3. Select the file you wa

[2016-06-28 21:21] aerozoic commented on #120
I don't think i've explained my question very well.... I would like to know if there is a way to see which commits were included in the update when i see this "+Subproject commit bafa30026de4d198baac00126d9f1e03b965b5d8"? I understand that this brings the submodule up to date but what i can't figure out is how to see which commits were applied to this particular update and which commits were alrea

[2016-06-29 07:14] BetterToAutomateTheWorld commented on #120
Like I said :

==> You can also click the "blame" button for more details, to see all the file modifications per user per commit

https://github.com/MinetestForFun/protector/blame/master/init.lua
![](http://i.imgur.com/A1cdkvX.png)

[2016-06-29 23:43] cessna151 opened #140 "Bee hives no longer make honey."
LizzardBeth reported that bee hives no longer make honey. Apparently this has been broken for awhile.
:large_orange_diamond:

[2016-06-29 23:49] cessna151 opened #141 "Round-down doesn't persist"
When round-down is sprayed it gets rid of the plants but then they just come back during normal regrowth ABM's.
:large_orange_diamond:

[2016-07-01 08:28] Darcidride opened #142 "Re-add the "max button""
Some players want the "max button" feature re-implemented.

In fact it was a very good feature, we need to fix it / recode it :)

[2016-07-02 10:18] Lymkwi commented on #141
Damn typos in commit messages https://github.com/MinetestForFun/server-minetestforfun-skyblock/commit/982fcbf2f4f441f709bcdb04673598eb2f401b57

[2016-07-02 10:18] #141 closed

[2016-07-02 10:18] Lymkwi commented on #142
MineTest's API still doesn't give us the required methods and mechanisms to implement it properly, I cannot do any better than last time.

[2016-07-02 17:06] Ombridride opened #143 "protector mod crash the SB server"
[code]

[code]

[code]

[2016-07-02 23:13] cessna151 opened #144 "/who improvements"
The window needs to be wider to prevent the levels getting cut off. Also a close button would be nice.

@LeMagnesium if you get really bored you could also make it a bit more professional looking by adding a centered window title "Online Players" or something similar and putting headings over each column "Players:" and "Levels:"

:large_orange_diamond:

[2016-07-02 23:33] cessna151 opened #145 "**Please disable MAX button and merge ASAP**"
The MAX button is still bugged. It's Causing invalid items in inventory. Same old bugs that it used to have. IIRC it also causes server crashes.

:large_orange_diamond:

[2016-07-02 23:53] BetterToAutomateTheWorld commented on #145
Done, need to see with @LeMagnesium what's hapenned

[2016-07-04 14:49] Lymkwi commented on #142
How is it? Are you satisfied with the current implementation?

[2016-07-04 16:32] Lymkwi commented on #145
Updated, junk fixed, it works now.

[2016-07-05 09:48] BetterToAutomateTheWorld commented on #145
Perfect, thank you.

[2016-07-05 09:48] #145 closed

[2016-07-07 00:05] cessna151 opened #146 "I lost kick/ban privs."
My kick/ban privs have mysteriously been lost. Have i been fired from moderating? :P

:large_orange_diamond:

[2016-07-07 00:27] cessna151 opened #147 "Players die when logging in."
I've got several reports of players always starting at 0,0,0 and dying when they join the server. I have this problem as well. It has been this way for a couple days.

:large_orange_diamond:

[2016-07-07 07:18] BetterToAutomateTheWorld commented on #146
Of course not, you're a team member ! I will chek your privs when i've time :)

[2016-07-07 07:20] BetterToAutomateTheWorld commented on #147
Strange, we need to investigate

Linked @LeMagnesium and @crabman77

[2016-07-07 18:21] Darcidride opened #148 "life & farming_redo"
the farming foods don't restore life, just satiation

[2016-07-07 18:23] Lymkwi commented on #147
It happens sometimes that a player's client doesn't receive their coordinates in time, it's rare, but it shouldn't happen often. I'm gonna have to check the code.
Update: there is no bit of code to teleport at 0,0,0; I suspect it to be a client error. Could anyone build something at 0,0,0?

[2016-07-07 18:39] #143 closed

[2016-07-07 18:43] aerozoic commented on #146
fixed
:large_orange_diamond:

[2016-07-07 18:49] ghost commented on #140
Honey is only created between the daytime 5AM to 6PM (when sunlight) and the _xdecor:artificial_beehive_ must be **near 3 flowers minimum**. The _Artificial Beehive_ can store until 16 honey

[2016-07-07 18:49] #140 closed

[2016-07-07 19:44] aerozoic commented on #147
More info... All players that join start at 0,0,0 immediately after login but are then normally teleported to their spawn/last location before falling to the bottom. For some reason this teleport is sometimes delayed long enough for the players to touch the bottom causing the death. (The last couple days this has been far more often than normal)

I was sitting near 0,0,0 for awhile to observe this

[2016-07-07 20:40] BetterToAutomateTheWorld commented on #147
I think it's due to our recent lag server side because of more than 30 players online very often...

[2016-07-08 11:13] Ombridride opened #149 "Level 5 and loosing privileges"
Many players complain about they privileges loosing at the level 5, I have a workaround :
5sec after the player connection : if level 5 is completed then add "fly / fast" privilege to the player.

With this workaround, if a player loose its privilege, when he will disconenct/reconenct, we will hae agian its privilege back

[2016-07-08 12:21] BetterToAutomateTheWorld commented on #149
j'ai fait ça vite fait avec les quelques infos que j'ai pu glaner de l'APIi minetest/skyblock et du LUA :

[code]

Quelqu'un peut vérifier svp ? (surement à corriger) @LeMagnesium @crabman77